relaxng/explicit_datatyping_extension_module.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ruleml="http://www.ruleml.org/0.91/xsd">
  <xs:import namespace="http://www.ruleml.org/0.91/xsd" schemaLocation="bindatagroundfact_relaxed.xsd"/>
  <!-- Union Datatypes -->
  <xs:complexType name="anySimpleTypeForElements.datatype.choice">
    <xs:simpleContent>
      <xs:restriction base="xs:anyType">
        <xs:simpleType>
          <xs:union>
            <xs:simpleType>
              <xs:union memberTypes="xsi:duration.datatype.choice xsi:dateTime.datatype.choice xsi:time.datatype.choice xsi:date.datatype.choice xsi:gYearMonth.datatype.choice xsi:gYear.datatype.choice xsi:gMonthDay.datatype.choice xsi:gDay.datatype.choice xsi:gMonth.datatype.choice xsi:boolean.datatype.choice xsi:base64Binary.datatype.choice xsi:hexBinary.datatype.choice xsi:float.datatype.choice xsi:decimal.datatype.choice xsi:double.datatype.choice xsi:anyURI.datatype.choice xsi:QName.datatype.choice xsi:NOTATION.datatype.choice xsi:String.datatype.choice xsi:normalizedString.datatype.choice xsi:Token.datatype.choice xsi:language.datatype.choice xsi:Name.datatype.choice xsi:NCName.datatype.choice xsi:NMTOKEN.datatype.choice xsi:NMTOKENS.datatype.choice xsi:ENTITY.datatype.choice xsi:ENTITIES.datatype.choice xsi:integer.datatype.choice xsi:nonPositiveInteger.datatype.choice xsi:negativeInteger.datatype.choice xsi:long.datatype.choice xsi:int.datatype.choice xsi:short.datatype.choice xsi:byte.datatype.choice xsi:nonNegativeInteger.datatype.choice xsi:unsignedLong.datatype.choice xsi:unsignedInt.datatype.choice xsi:unsignedByte.datatype.choice xsi:positiveInteger.datatype.choice"/>
            </xs:simpleType>
            <xs:simpleType>
              <xs:union memberTypes="xs:duration xs:dateTime xs:time xs:date xs:gYearMonth xs:gYear xs:gMonthDay xs:gDay xs:gMonth xs:boolean xs:base64Binary xs:hexBinary xs:float xs:decimal xs:double xs:anyURI xs:QName xs:QName xs:string"/>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
        <xs:attribute name="type" form="qualified">
          <xs:simpleType>
            <xs:restriction base="xs:QName">
              <xs:enumeration value="duration" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="dateTime" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="time" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="date" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="gYearMonth" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="gYear" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="gMonthDay" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="gDay" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="gMonth" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="boolean" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="base64Binary" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="hexBinary" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="float" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="decimal" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="double" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="anyURI" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="QName" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="NOTATION" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="string" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="normalizedString" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="token" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="language" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="Name" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="NCName" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="NMTOKEN" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="NMTOKENS" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="ENTITY" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="ENTITIES" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="integer" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="nonPositiveInteger" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="negativeInteger" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="long" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="int" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="short" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="byte" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="nonNegativeInteger" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="unsignedLong" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="unsignedInt" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="unsignedByte" xmlns="http://www.w3.org/2001/XMLSchema"/>
              <xs:enumeration value="positiveInteger" xmlns="http://www.w3.org/2001/XMLSchema"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <!-- Primitive Datatypes -->
  <xs:simpleType name="duration.datatype.choice">
    <xs:restriction base="xs:duration"/>
  </xs:simpleType>
  <xs:attributeGroup name="duration.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="duration" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="dateTime.datatype.choice">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:attributeGroup name="dateTime.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="dateTime" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="time.datatype.choice">
    <xs:restriction base="xs:time"/>
  </xs:simpleType>
  <xs:attributeGroup name="time.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="time" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="date.datatype.choice">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:attributeGroup name="date.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="date" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="gYearMonth.datatype.choice">
    <xs:restriction base="xs:gYearMonth"/>
  </xs:simpleType>
  <xs:attributeGroup name="gYearMonth.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="gYearMonth" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="gYear.datatype.choice">
    <xs:restriction base="xs:gYear"/>
  </xs:simpleType>
  <xs:attributeGroup name="gYear.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="gYear" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="gMonthDay.datatype.choice">
    <xs:restriction base="xs:gMonthDay"/>
  </xs:simpleType>
  <xs:attributeGroup name="gMonthDay.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="gMonthDay" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="gDay.datatype.choice">
    <xs:restriction base="xs:gDay"/>
  </xs:simpleType>
  <xs:attributeGroup name="gDay.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="gDay" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="gMonth.datatype.choice">
    <xs:restriction base="xs:gMonth"/>
  </xs:simpleType>
  <xs:attributeGroup name="gMonth.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="gMonth" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="boolean.datatype.choice">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:attributeGroup name="boolean.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="boolean" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="base64Binary.datatype.choice">
    <xs:restriction base="xs:base64Binary"/>
  </xs:simpleType>
  <xs:attributeGroup name="base64Binary.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="base64Binary" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="hexBinary.datatype.choice">
    <xs:restriction base="xs:hexBinary"/>
  </xs:simpleType>
  <xs:attributeGroup name="hexBinary.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="hexBinary" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="float.datatype.choice">
    <xs:restriction base="xs:float"/>
  </xs:simpleType>
  <xs:attributeGroup name="float.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="float" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="decimal.datatype.choice">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:attributeGroup name="decimal.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="decimal" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="double.datatype.choice">
    <xs:restriction base="xs:double"/>
  </xs:simpleType>
  <xs:attributeGroup name="double.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="double" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="anyURI.datatype.choice">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:attributeGroup name="anyURI.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="anyURI" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="QName.datatype.choice">
    <xs:restriction base="xs:QName"/>
  </xs:simpleType>
  <xs:attributeGroup name="QName.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="QName" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="NOTATION.datatype.choice">
    <xs:restriction base="xs:QName"/>
  </xs:simpleType>
  <xs:attributeGroup name="NOTATION.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="NOTATION" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="String.datatype.choice">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:attributeGroup name="String.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="string" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!-- Derived Types -->
  <xs:simpleType name="normalizedString.datatype.choice">
    <xs:restriction base="xs:normalizedString"/>
  </xs:simpleType>
  <xs:attributeGroup name="normalizedString.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="normalizedString" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="Token.datatype.choice">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:attributeGroup name="Token.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="token" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="language.datatype.choice">
    <xs:restriction base="xs:language"/>
  </xs:simpleType>
  <xs:attributeGroup name="language.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="language" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="Name.datatype.choice">
    <xs:restriction base="xs:Name"/>
  </xs:simpleType>
  <xs:attributeGroup name="Name.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="Name" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="NCName.datatype.choice">
    <xs:restriction base="xs:NCName"/>
  </xs:simpleType>
  <xs:attributeGroup name="NCName.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="NCName" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="NMTOKEN.datatype.choice">
    <xs:restriction base="xs:NMTOKEN"/>
  </xs:simpleType>
  <xs:attributeGroup name="NMTOKEN.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="NMTOKEN" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="NMTOKENS.datatype.choice">
    <xs:restriction base="xs:NMTOKENS"/>
  </xs:simpleType>
  <xs:attributeGroup name="NMTOKENS.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="NMTOKENS" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="ENTITY.datatype.choice">
    <xs:restriction base="xs:ENTITY"/>
  </xs:simpleType>
  <xs:attributeGroup name="ENTITY.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="ENTITY" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="ENTITIES.datatype.choice">
    <xs:restriction base="xs:ENTITIES"/>
  </xs:simpleType>
  <xs:attributeGroup name="ENTITIES.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="ENTITIES" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="integer.datatype.choice">
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>
  <xs:attributeGroup name="integer.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="integer" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="nonPositiveInteger.datatype.choice">
    <xs:restriction base="xs:nonPositiveInteger"/>
  </xs:simpleType>
  <xs:attributeGroup name="nonPositiveInteger.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="nonPositiveInteger" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="negativeInteger.datatype.choice">
    <xs:restriction base="xs:negativeInteger"/>
  </xs:simpleType>
  <xs:attributeGroup name="negativeInteger.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="negativeInteger" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="long.datatype.choice">
    <xs:restriction base="xs:long"/>
  </xs:simpleType>
  <xs:attributeGroup name="long.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="long" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="int.datatype.choice">
    <xs:restriction base="xs:int"/>
  </xs:simpleType>
  <xs:attributeGroup name="int.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="int" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="short.datatype.choice">
    <xs:restriction base="xs:short"/>
  </xs:simpleType>
  <xs:attributeGroup name="short.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="short" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="byte.datatype.choice">
    <xs:restriction base="xs:byte"/>
  </xs:simpleType>
  <xs:attributeGroup name="byte.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="byte" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="nonNegativeInteger.datatype.choice">
    <xs:restriction base="xs:nonNegativeInteger"/>
  </xs:simpleType>
  <xs:attributeGroup name="nonNegativeInteger.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="nonNegativeInteger" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="unsignedLong.datatype.choice">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:attributeGroup name="unsignedLong.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="unsignedLong" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="unsignedInt.datatype.choice">
    <xs:restriction base="xs:unsignedInt"/>
  </xs:simpleType>
  <xs:attributeGroup name="unsignedInt.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="unsignedInt" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="unsignedByte.datatype.choice">
    <xs:restriction base="xs:unsignedByte"/>
  </xs:simpleType>
  <xs:attributeGroup name="unsignedByte.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="unsignedByte" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="positiveInteger.datatype.choice">
    <xs:restriction base="xs:positiveInteger"/>
  </xs:simpleType>
  <xs:attributeGroup name="positiveInteger.datatype.choice">
    <xs:attribute name="type" use="required" form="qualified">
      <xs:simpleType>
        <xs:restriction base="xs:QName">
          <xs:enumeration value="positiveInteger" xmlns="http://www.w3.org/2001/XMLSchema"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attribute name="schemaLocation"/>
</xs:schema>
