relaxng/fuzzy_extension_module.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.ruleml.org/0.91/xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ruleml="http://www.ruleml.org/0.91/xsd">
  <xs:import namespace="http://www.w3.org/2001/XMLSchema-instance" schemaLocation="explicit_datatyping_extension_module.xsd"/>
  <!--
    This module declares the following RuleML elements and attributes:
               * <degree>
  -->
  <xs:group name="degree-edge.choice">
    <xs:sequence>
      <xs:element ref="ruleml:degree"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="degree" type="ruleml:degree.content">
    <xs:annotation>
      <xs:documentation>An optional uncertainty value (between 0.0 and 1.0) that may be assigned to facts and rules.
See http://www.ruleml.org/0.91/glossary/#gloss-degree</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="degree.content">
    <xs:annotation>
      <xs:documentation>The degree role contains a single data term. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ruleml:Data_degree-node.choice"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Data_degree-node.choice">
    <xs:choice>
      <xs:group ref="ruleml:Data_any-node.choice"/>
      <xs:group ref="ruleml:Data_simple-node.choice"/>
    </xs:choice>
  </xs:complexType>
  <!---->
</xs:schema>
<!--
  Optional initialization module allows this module to be independently validated
  include "init_extension_module.rnc"
-->
