relaxng/header_extension_module.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.ruleml.org/0.91/xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ruleml="http://www.ruleml.org/0.91/xsd">
  <xs:import namespace="http://www.w3.org/2001/XMLSchema-instance" schemaLocation="explicit_datatyping_extension_module.xsd"/>
  <xs:group name="Performative.header">
    <xs:annotation>
      <xs:documentation>The RuleML performative Nodes and root accept the object header.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group minOccurs="0" ref="ruleml:Object.header"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="Formula.header">
    <xs:annotation>
      <xs:documentation>All Formula Nodes accept the object header.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group minOccurs="0" ref="ruleml:Object.header"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="Object.header">
    <xs:annotation>
      <xs:documentation>The header for objects contains an optional object identifier.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group minOccurs="0" ref="ruleml:objectIdentifier-edge.choice"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="Fuzzy.header">
    <xs:annotation>
      <xs:documentation>The header for fuzzifiable objects contains an optional degree of uncertainty.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group minOccurs="0" ref="ruleml:degree-edge.choice"/>
    </xs:sequence>
  </xs:group>
</xs:schema>
<!--
  
  Optional initialization module allows this module to be independently validated
  include "init_extension_module.rnc"
-->
