relaxng/skolem_extension_module.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.ruleml.org/0.91/xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ruleml="http://www.ruleml.org/0.91/xsd">
  <xs:import namespace="http://www.w3.org/2001/XMLSchema-instance" schemaLocation="explicit_datatyping_extension_module.xsd"/>
  <!--
    This module declares the following RuleML elements, attributes and patterns:
               * <Skolem>
  -->
  <xs:group name="Skolem-node.choice">
    <xs:annotation>
      <xs:documentation>an extension point to allow alternate names and internationalization for Skolem constants</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ruleml:Skolem"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="Skolem">
    <xs:annotation>
      <xs:documentation>A Skolem individual constant, like RDF's blank nodes.
See http://www.ruleml.org/0.91/glossary/#gloss-Skolem</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ruleml:Skolem.attlist"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="Skolem.attlist">
    <xs:annotation>
      <xs:documentation>Skolems optionally accept the attribute pattern of objects with user-defined types.</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="ruleml:Type.attlist"/>
  </xs:attributeGroup>
</xs:schema>
<!-- include "init_extension_module.rnc" -->
