relaxng/weight_extension_module.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.ruleml.org/0.91/xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ruleml="http://www.ruleml.org/0.91/xsd">
  <xs:import namespace="http://www.w3.org/2001/XMLSchema-instance" schemaLocation="explicit_datatyping_extension_module.xsd"/>
  <!--
    This module declares the following RuleML elements and attributes:
               * @weight
    and extends the Data element to include a RuleML-defined datatype
  -->
  <xs:attributeGroup name="weight-att.choice">
    <xs:annotation>
      <xs:documentation>an extension point for alternate spellings and internationalization of the weight attribute name.  </xs:documentation>
    </xs:annotation>
    <xs:attribute name="weight" type="ruleml:weight.datatype">
      <xs:annotation>
        <xs:documentation>An attribute optionally specifying a &lt;slot&gt;'s relative weight.
See http://www.ruleml.org/0.91/glossary/#gloss-weight</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="weight.attrib.def">
    <xs:attribute name="weight" use="required" type="ruleml:weight.datatype">
      <xs:annotation>
        <xs:documentation>An attribute optionally specifying a &lt;slot&gt;'s relative weight.
See http://www.ruleml.org/0.91/glossary/#gloss-weight</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <!---->
  <xs:element name="weight" type="ruleml:weight.content"/>
  <xs:complexType name="weight.content">
    <xs:complexContent>
      <xs:extension base="ruleml:Data-weight-node.choice"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Data-weight-node.choice">
    <xs:complexContent>
      <xs:extension base="ruleml:Data-weight.Node.def"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Data-weight.Node.def">
    <xs:sequence>
      <xs:element name="Data" type="ruleml:weight.datatype">
        <xs:annotation>
          <xs:documentation>When representing a weight or probability, the content of the Data element is constrained to values between 0 and 1, inclusive. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="weight.datatype">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0.0"/>
      <xs:maxInclusive value="1.0"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
