relaxng/weight_extension_module.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <dc:title>RuleML weight</dc:title>
  <dc:version>0.91.01</dc:version>
  <dc:creator>Tara Athan (taraathan AT gmail.com</dc:creator>
  <dc:subject>RuleML, uncertainty, fuzzy, weight</dc:subject>
  <dc:description>The auxiliary module for the weight attribute.</dc:description>
  <dc:date>2011-04-18</dc:date>
  <dc:language>en</dc:language>
  <dc:rights>TBD</dc:rights>
  <dc:relation>http://wiki.ruleml.org/index.php/Relax_NG</dc:relation>
  <start combine="choice">
    <choice>
      <ref name="weight.edge.def"/>
      <ref name="Data-weight-node.choice"/>
    </choice>
  </start>
  <!--
    This module declares the following RuleML elements and attributes:
               * @weight
    and extends the Data element to include a RuleML-defined datatype
  -->
  <define name="weight-att.choice" combine="choice">
    <a:documentation>an extension point for alternate spellings and internationalization of the weight attribute name.  </a:documentation>
    <ref name="weight.attrib.def"/>
  </define>
  <define name="weight.attrib.def">
    <attribute name="weight">
      <a:documentation>An attribute optionally specifying a &lt;slot&gt;'s relative weight.
See http://www.ruleml.org/0.91/glossary/#gloss-weight</a:documentation>
      <ref name="weight.datatype"/>
    </attribute>
  </define>
  <!---->
  <define name="weight.edge.def">
    <element name="weight">
      <ref name="weight.content"/>
    </element>
  </define>
  <define name="weight.content" combine="choice">
    <ref name="Data-weight-node.choice"/>
  </define>
  <define name="Data-weight-node.choice" combine="choice">
    <ref name="Data-weight.Node.def"/>
  </define>
  <define name="Data-weight.Node.def">
    <element name="Data">
      <a:documentation>When representing a weight or probability, the content of the Data element is constrained to values between 0 and 1, inclusive. </a:documentation>
      <ref name="weight.datatype"/>
    </element>
  </define>
  <define name="weight.datatype" combine="choice">
    <data type="decimal">
      <param name="minInclusive">0.0</param>
      <param name="maxInclusive">1.0</param>
    </data>
  </define>
</grammar>
