designPattern/include_base_schema.rnc

# This schema is derived from James Clark's
# RELAX NG for RELAX NG
# $Id: relaxng.rng,v 1.31 2002/05/30 06:07:43 jjc Exp $
# (translated in to RNC by Trang, of course.)

namespace local = ""
default namespace rng = "http://relaxng.org/ns/structure/1.0"
namespace dc = "http://purl.org/dc/elements/1.1/"
dc:title [ "RuleML Design Pattern for Relax NG Schemas: Base Modules" ]
dc:version [ "1.0.01" ]
dc:creator [ "Tara Athan (taraathan AT gmail.com" ]
dc:subject [ "RuleML, design pattern" ]
dc:description [ "This meta-schema enforces the design pattern for base modules when applied to a Relax NG schema in XML-based syntax. The merger of a base grammer with an expansion module gives a language which syntactically contains the language generated by the base grammar." ]
dc:date ["2012-04-11"]
dc:language [ "en" ]
dc:rights [ "TBD" ]
dc:relation [ "http://wiki.ruleml.org/index.php/Relax_NG" ]
dc:relation [ "http://relaxng.org/relaxng.rng" ]

include "relaxng.rnc" {

start-element = element start { combine-att.choice, common-atts, open-pattern }
# Instead of 
#define-element =
#  element define {
#    attribute name { xsd:NCName },
#    combine-att,
#    common-atts,
#    open-patterns
#  }
define-element = (define-element.choice | define-element.interleave | define-element.noCombine)
}
define-element.choice =  
  element define { nameNCName.choice, combine-att.choice, common-atts, open-patterns }
define-element.interleave =  
  element define { nameNCName.interleave, combine-att.interleave, common-atts , open-patterns }
define-element.noCombine =  
  element define { nameNCName.noCombine, common-atts, open-patterns }

nameNCName.choice = attribute name {xsd:NCName {pattern = ".*\.(choice|main|content|value|datatype|sequence|defs)"}}  
nameNCName.interleave = attribute name {xsd:NCName {pattern = ".*\.(attlist|header)"}}  
nameNCName.noCombine = attribute name {xsd:NCName {pattern = ".*\.(def|notallowed)"}}  

combine-att.interleave = attribute combine { "interleave" }

combine-att.choice = attribute combine { "choice" }
