nvdl/deliberation-ruleml1-01.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
  <namespace ns="http://ruleml.org/spec">
    <validate
      schema="http://deliberation.ruleml.org/1.02/relaxng/schema_rnc.php"
      schemaType="application/relax-ng-compact-syntax"/>

  </namespace>
  <anyNamespace>
    <allow/>
  </anyNamespace>
</rules>