nvdl/xhtml.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
  <namespace ns="http://www.w3.org/1999/xhtml">
    <validate schema="http://syntax.whattf.org/relaxng/xhtml5.rnc" schemaType="application/relax-ng-compact-syntax"/>
    <validate schema="http://syntax.whattf.org/relaxng/assertions.sch" schemaType="application/xml"/>
  </namespace>
  <namespace ns="http://ruleml.org/spec">
    <validate
      schema="http://ruleml.org/1.0/relaxng/schema_rnc.php?backbone=x3f&amp;default=x7&amp;termseq=x7&amp;lng=x1&amp;propo=x3ff&amp;implies=x7&amp;terms=xf3f&amp;quant=x7&amp;expr=xf&amp;serial=xf"
      schemaType="application/relax-ng-compact-syntax"/>

  </namespace>
  <anyNamespace>
    <reject/>
  </anyNamespace>
</rules>
