temp/bindatagroundfact_relaxed.rnc.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <choice>
      <ref name="RuleML"/>
      <ref name="Assert"/>
      <ref name="Retract"/>
      <ref name="_1"/>
      <ref name="Atom"/>
      <ref name="Rel"/>
      <ref name="_2"/>
      <ref name="_3"/>
      <ref name="_4"/>
      <ref name="_5"/>
      <ref name="Data"/>
      <ref name="Rulebase"/>
      <ref name="Entails"/>
      <ref name="Skolem"/>
      <ref name="Reify"/>
      <ref name="Ind"/>
      <ref name="formula"/>
      <ref name="formula_2"/>
      <ref name="op"/>
      <ref name="formula_3"/>
      <ref name="formula_4"/>
      <ref name="formula_5"/>
      <ref name="then"/>
      <ref name="if"/>
      <ref name="degree"/>
      <ref name="oid"/>
      <ref name="slot"/>
      <ref name="arg"/>
    </choice>
  </start>
  <define name="RuleML">
    <element name="RuleML" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <optional>
          <ref name="oid"/>
        </optional>
        <oneOrMore>
          <choice>
            <ref name="act"/>
            <zeroOrMore>
              <choice>
                <ref name="Assert"/>
                <ref name="Retract"/>
                <ref name="_1"/>
              </choice>
            </zeroOrMore>
          </choice>
        </oneOrMore>
      </group>
    </element>
  </define>
  <define name="Assert">
    <element name="Assert" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <interleave>
          <optional>
            <attribute name="mapMaterial" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">yes</value>
                <value type="token" datatypeLibrary="" ns="">no</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapDirection" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">bidirectional</value>
                <value type="token" datatypeLibrary="" ns="">forward</value>
                <value type="token" datatypeLibrary="" ns="">backward</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapClosure" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">universal</value>
                <value type="token" datatypeLibrary="" ns="">existential</value>
              </choice>
            </attribute>
          </optional>
        </interleave>
        <optional>
          <ref name="oid"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="formula"/>
            <ref name="Atom"/>
            <ref name="Entails"/>
            <ref name="Rulebase"/>
          </choice>
        </zeroOrMore>
      </group>
    </element>
  </define>
  <define name="Retract">
    <element name="Retract" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <interleave>
          <optional>
            <attribute name="mapMaterial" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">yes</value>
                <value type="token" datatypeLibrary="" ns="">no</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapDirection" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">bidirectional</value>
                <value type="token" datatypeLibrary="" ns="">forward</value>
                <value type="token" datatypeLibrary="" ns="">backward</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapClosure" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">universal</value>
                <value type="token" datatypeLibrary="" ns="">existential</value>
              </choice>
            </attribute>
          </optional>
        </interleave>
        <optional>
          <ref name="oid"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="formula"/>
            <ref name="Atom"/>
            <ref name="Entails"/>
            <ref name="Rulebase"/>
          </choice>
        </zeroOrMore>
      </group>
    </element>
  </define>
  <define name="_1">
    <element>
      <anyName/>
      <notAllowed/>
    </element>
  </define>
  <define name="Atom">
    <element name="Atom" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <optional>
          <attribute name="closure" ns="">
            <choice>
              <value type="token" datatypeLibrary="" ns="">universal</value>
              <value type="token" datatypeLibrary="" ns="">existential</value>
            </choice>
          </attribute>
        </optional>
        <interleave>
          <optional>
            <ref name="oid"/>
          </optional>
          <optional>
            <ref name="degree"/>
          </optional>
        </interleave>
        <interleave>
          <choice>
            <ref name="op"/>
            <ref name="Rel"/>
          </choice>
          <optional>
            <group>
              <choice>
                <ref name="Skolem"/>
                <ref name="Reify"/>
                <ref name="Ind"/>
                <ref name="Data"/>
                <ref name="Data_2"/>
                <ref name="arg"/>
              </choice>
              <choice>
                <ref name="Skolem"/>
                <ref name="Reify"/>
                <ref name="Ind"/>
                <ref name="Data"/>
                <ref name="Data_2"/>
                <ref name="arg"/>
              </choice>
            </group>
          </optional>
          <zeroOrMore>
            <ref name="slot"/>
          </zeroOrMore>
        </interleave>
      </group>
    </element>
  </define>
  <define name="Rel">
    <element name="Rel" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <optional>
          <attribute name="iri" ns="">
            <data type="anyURI" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
          </attribute>
        </optional>
        <text/>
      </group>
    </element>
  </define>
  <define name="_2">
    <element>
      <anyName/>
      <notAllowed/>
    </element>
  </define>
  <define name="_3">
    <element>
      <anyName/>
      <notAllowed/>
    </element>
  </define>
  <define name="_4">
    <element>
      <anyName/>
      <notAllowed/>
    </element>
  </define>
  <define name="_5">
    <element>
      <anyName/>
      <notAllowed/>
    </element>
  </define>
  <define name="Data">
    <element name="Data" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <data type="duration" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="dateTime" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="time" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="date" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="gYearMonth" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="gYear" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="gMonthDay" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="gDay" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="gMonth" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="boolean" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="base64Binary" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="hexBinary" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="float" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="decimal" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="double" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="anyURI" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="NOTATION" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
      </choice>
    </element>
  </define>
  <define name="Rulebase">
    <element name="Rulebase" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <interleave>
          <optional>
            <attribute name="mapMaterial" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">yes</value>
                <value type="token" datatypeLibrary="" ns="">no</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapDirection" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">bidirectional</value>
                <value type="token" datatypeLibrary="" ns="">forward</value>
                <value type="token" datatypeLibrary="" ns="">backward</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapClosure" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">universal</value>
                <value type="token" datatypeLibrary="" ns="">existential</value>
              </choice>
            </attribute>
          </optional>
        </interleave>
        <optional>
          <ref name="oid"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="Atom"/>
            <ref name="formula_5"/>
          </choice>
        </zeroOrMore>
      </group>
    </element>
  </define>
  <define name="Entails">
    <element name="Entails" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <optional>
          <ref name="oid"/>
        </optional>
        <choice>
          <interleave>
            <ref name="if"/>
            <ref name="then"/>
          </interleave>
          <group>
            <ref name="Rulebase"/>
            <ref name="if"/>
          </group>
          <group>
            <ref name="then"/>
            <ref name="Rulebase"/>
          </group>
          <group>
            <ref name="Rulebase"/>
            <ref name="Rulebase"/>
          </group>
          <group>
            <ref name="Rulebase"/>
            <ref name="then"/>
          </group>
          <group>
            <ref name="if"/>
            <ref name="Rulebase"/>
          </group>
        </choice>
      </group>
    </element>
  </define>
  <define name="Skolem">
    <element name="Skolem" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <optional>
          <attribute name="type" ns="">
            <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
          </attribute>
        </optional>
        <text/>
      </group>
    </element>
  </define>
  <define name="Reify">
    <element name="Reify" ns="http://www.ruleml.org/1.0/xsd">
      <optional>
        <choice>
          <ref name="RuleML"/>
          <ref name="Assert"/>
          <ref name="Retract"/>
          <ref name="_1"/>
          <ref name="Atom"/>
          <ref name="Rel"/>
          <ref name="_2"/>
          <ref name="_3"/>
          <ref name="_4"/>
          <ref name="_5"/>
          <ref name="Data"/>
          <ref name="Rulebase"/>
          <ref name="Entails"/>
          <ref name="Skolem"/>
          <ref name="Reify"/>
          <ref name="Ind"/>
          <ref name="formula"/>
          <ref name="formula_2"/>
          <ref name="op"/>
          <ref name="formula_3"/>
          <ref name="formula_4"/>
          <ref name="formula_5"/>
          <ref name="then"/>
          <ref name="if"/>
          <ref name="degree"/>
          <ref name="oid"/>
          <ref name="slot"/>
          <ref name="arg"/>
        </choice>
      </optional>
    </element>
  </define>
  <define name="Ind">
    <element name="Ind" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <interleave>
          <optional>
            <attribute name="iri" ns="">
              <data type="anyURI" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="type" ns="">
              <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
            </attribute>
          </optional>
        </interleave>
        <text/>
      </group>
    </element>
  </define>
  <define name="formula">
    <element name="formula" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <ref name="Atom"/>
        <ref name="Entails"/>
        <ref name="Rulebase"/>
      </choice>
    </element>
  </define>
  <define name="formula_2">
    <element name="formula" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <ref name="Atom"/>
        <ref name="_4"/>
        <ref name="_5"/>
        <ref name="Entails"/>
        <ref name="Rulebase"/>
      </choice>
    </element>
  </define>
  <define name="op">
    <element name="op" ns="http://www.ruleml.org/1.0/xsd">
      <ref name="Rel"/>
    </element>
  </define>
  <define name="formula_3">
    <element name="formula" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <ref name="Atom"/>
        <ref name="_2"/>
        <ref name="_3"/>
      </choice>
    </element>
  </define>
  <define name="formula_4">
    <element name="formula" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <ref name="Atom"/>
        <ref name="_2"/>
        <ref name="_3"/>
      </choice>
    </element>
  </define>
  <define name="formula_5">
    <element name="formula" ns="http://www.ruleml.org/1.0/xsd">
      <ref name="Atom"/>
    </element>
  </define>
  <define name="then">
    <element name="then" ns="http://www.ruleml.org/1.0/xsd">
      <ref name="Rulebase"/>
    </element>
  </define>
  <define name="if">
    <element name="if" ns="http://www.ruleml.org/1.0/xsd">
      <ref name="Rulebase"/>
    </element>
  </define>
  <define name="degree">
    <element name="degree" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <ref name="Data_2"/>
        <ref name="Data"/>
      </choice>
    </element>
  </define>
  <define name="oid">
    <element name="oid" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <ref name="Skolem"/>
        <ref name="Reify"/>
        <ref name="Ind"/>
        <ref name="Data"/>
        <ref name="Data_2"/>
      </choice>
    </element>
  </define>
  <define name="slot">
    <element name="slot" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <interleave>
          <optional>
            <attribute name="card" ns="">
              <data type="nonNegativeInteger" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="weight" ns="">
              <data type="decimal" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
                <param name="minInclusive">0.0</param>
                <param name="maxInclusive">1.0</param>
              </data>
            </attribute>
          </optional>
        </interleave>
        <choice>
          <ref name="Ind"/>
          <ref name="Data"/>
          <ref name="Data_2"/>
        </choice>
        <choice>
          <ref name="Skolem"/>
          <ref name="Reify"/>
          <ref name="Ind"/>
          <ref name="Data"/>
          <ref name="Data_2"/>
        </choice>
      </group>
    </element>
  </define>
  <define name="arg">
    <element name="arg" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <attribute name="index" ns="">
          <data type="positiveInteger" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </attribute>
        <choice>
          <ref name="Skolem"/>
          <ref name="Reify"/>
          <ref name="Ind"/>
          <ref name="Data"/>
          <ref name="Data_2"/>
        </choice>
      </group>
    </element>
  </define>
  <define name="act">
    <element name="act" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <attribute name="index" ns="">
          <data type="positiveInteger" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </attribute>
        <zeroOrMore>
          <choice>
            <ref name="Assert"/>
            <ref name="Retract"/>
            <ref name="_1"/>
          </choice>
        </zeroOrMore>
      </group>
    </element>
  </define>
  <define name="Data_2">
    <element name="Data" ns="http://www.ruleml.org/1.0/xsd">
      <interleave>
        <text/>
        <zeroOrMore>
          <ref name="_6"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="_6">
    <element>
      <anyName/>
      <group>
        <zeroOrMore>
          <attribute>
            <anyName/>
            <text/>
          </attribute>
        </zeroOrMore>
        <interleave>
          <text/>
          <zeroOrMore>
            <ref name="_6"/>
          </zeroOrMore>
        </interleave>
      </group>
    </element>
  </define>
</grammar>
