temp/naffologeq_relaxed_static.rnc.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <start>
    <choice>
      <ref name="RuleML"/>
      <ref name="Assert"/>
      <ref name="Retract"/>
      <ref name="Query"/>
      <ref name="Atom"/>
      <ref name="Rel"/>
      <ref name="And"/>
      <ref name="Or"/>
      <ref name="And_2"/>
      <ref name="Or_2"/>
      <ref name="Implies"/>
      <ref name="Forall"/>
      <ref name="Exists"/>
      <ref name="Expr"/>
      <ref name="Fun"/>
      <ref name="Data"/>
      <ref name="Rulebase"/>
      <ref name="Entails"/>
      <ref name="Neg"/>
      <ref name="Naf"/>
      <ref name="Equivalent"/>
      <ref name="Equal"/>
      <ref name="Skolem"/>
      <ref name="Reify"/>
      <ref name="Ind"/>
      <ref name="Var"/>
      <ref name="Plex"/>
      <ref name="formula"/>
      <ref name="formula_2"/>
      <ref name="op"/>
      <ref name="formula_3"/>
      <ref name="formula_4"/>
      <ref name="then"/>
      <ref name="if"/>
      <ref name="declare"/>
      <ref name="formula_5"/>
      <ref name="formula_6"/>
      <ref name="op_2"/>
      <ref name="formula_7"/>
      <ref name="then_2"/>
      <ref name="if_2"/>
      <ref name="degree"/>
      <ref name="strong"/>
      <ref name="weak"/>
      <ref name="torso"/>
      <ref name="oid"/>
      <ref name="slot"/>
      <ref name="left"/>
      <ref name="right"/>
      <ref name="arg"/>
      <ref name="resl"/>
      <ref name="repo"/>
    </choice>
  </start>
  <define name="RuleML">
    <element name="RuleML" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <optional>
          <attribute name="schemaLocation" ns="http://www.w3.org/2001/XMLSchema-instance">
            <text/>
          </attribute>
        </optional>
        <optional>
          <ref name="oid"/>
        </optional>
        <oneOrMore>
          <choice>
            <ref name="act"/>
            <zeroOrMore>
              <choice>
                <ref name="Assert"/>
                <ref name="Retract"/>
                <ref name="Query"/>
              </choice>
            </zeroOrMore>
          </choice>
        </oneOrMore>
      </group>
    </element>
  </define>
  <define name="Assert">
    <element name="Assert" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <interleave>
          <optional>
            <attribute name="mapMaterial" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">yes</value>
                <value type="token" datatypeLibrary="" ns="">no</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapDirection" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">bidirectional</value>
                <value type="token" datatypeLibrary="" ns="">forward</value>
                <value type="token" datatypeLibrary="" ns="">backward</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapClosure" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">universal</value>
                <value type="token" datatypeLibrary="" ns="">existential</value>
              </choice>
            </attribute>
          </optional>
        </interleave>
        <optional>
          <ref name="oid"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="formula"/>
            <ref name="Atom"/>
            <ref name="Equal"/>
            <ref name="And"/>
            <ref name="Or"/>
            <ref name="Neg"/>
            <ref name="Implies"/>
            <ref name="Equivalent"/>
            <ref name="Forall"/>
            <ref name="Exists"/>
            <ref name="Entails"/>
            <ref name="Rulebase"/>
          </choice>
        </zeroOrMore>
      </group>
    </element>
  </define>
  <define name="Retract">
    <element name="Retract" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <interleave>
          <optional>
            <attribute name="mapMaterial" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">yes</value>
                <value type="token" datatypeLibrary="" ns="">no</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapDirection" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">bidirectional</value>
                <value type="token" datatypeLibrary="" ns="">forward</value>
                <value type="token" datatypeLibrary="" ns="">backward</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapClosure" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">universal</value>
                <value type="token" datatypeLibrary="" ns="">existential</value>
              </choice>
            </attribute>
          </optional>
        </interleave>
        <optional>
          <ref name="oid"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="formula"/>
            <ref name="Atom"/>
            <ref name="Equal"/>
            <ref name="And"/>
            <ref name="Or"/>
            <ref name="Neg"/>
            <ref name="Implies"/>
            <ref name="Equivalent"/>
            <ref name="Forall"/>
            <ref name="Exists"/>
            <ref name="Entails"/>
            <ref name="Rulebase"/>
          </choice>
        </zeroOrMore>
      </group>
    </element>
  </define>
  <define name="Query">
    <element name="Query" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <interleave>
          <optional>
            <attribute name="mapMaterial" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">yes</value>
                <value type="token" datatypeLibrary="" ns="">no</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapDirection" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">bidirectional</value>
                <value type="token" datatypeLibrary="" ns="">forward</value>
                <value type="token" datatypeLibrary="" ns="">backward</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="closure" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">universal</value>
                <value type="token" datatypeLibrary="" ns="">existential</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapClosure" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">universal</value>
                <value type="token" datatypeLibrary="" ns="">existential</value>
              </choice>
            </attribute>
          </optional>
        </interleave>
        <optional>
          <ref name="oid"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="formula_2"/>
            <ref name="Atom"/>
            <ref name="Equal"/>
            <ref name="And_2"/>
            <ref name="Or_2"/>
            <ref name="Neg"/>
            <ref name="Naf"/>
            <ref name="Implies"/>
            <ref name="Equivalent"/>
            <ref name="Forall"/>
            <ref name="Exists"/>
            <ref name="Entails"/>
            <ref name="Rulebase"/>
          </choice>
        </zeroOrMore>
      </group>
    </element>
  </define>
  <define name="Atom">
    <element name="Atom" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <optional>
          <attribute name="closure" ns="">
            <choice>
              <value type="token" datatypeLibrary="" ns="">universal</value>
              <value type="token" datatypeLibrary="" ns="">existential</value>
            </choice>
          </attribute>
        </optional>
        <interleave>
          <optional>
            <ref name="oid"/>
          </optional>
          <optional>
            <ref name="degree"/>
          </optional>
        </interleave>
        <interleave>
          <choice>
            <ref name="op"/>
            <ref name="Rel"/>
          </choice>
          <zeroOrMore>
            <choice>
              <ref name="Skolem"/>
              <ref name="Reify"/>
              <ref name="Ind"/>
              <ref name="Data"/>
              <ref name="Data_2"/>
              <ref name="Var"/>
              <ref name="Expr"/>
              <ref name="Plex"/>
              <ref name="arg"/>
            </choice>
          </zeroOrMore>
          <optional>
            <ref name="repo"/>
          </optional>
          <zeroOrMore>
            <ref name="slot"/>
          </zeroOrMore>
          <optional>
            <ref name="resl"/>
          </optional>
        </interleave>
      </group>
    </element>
  </define>
  <define name="Rel">
    <element name="Rel" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <optional>
          <attribute name="iri" ns="">
            <data type="anyURI" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
          </attribute>
        </optional>
        <text/>
      </group>
    </element>
  </define>
  <define name="And">
    <element name="And" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <interleave>
          <optional>
            <attribute name="mapMaterial" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">yes</value>
                <value type="token" datatypeLibrary="" ns="">no</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapDirection" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">bidirectional</value>
                <value type="token" datatypeLibrary="" ns="">forward</value>
                <value type="token" datatypeLibrary="" ns="">backward</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapClosure" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">universal</value>
                <value type="token" datatypeLibrary="" ns="">existential</value>
              </choice>
            </attribute>
          </optional>
        </interleave>
        <optional>
          <ref name="oid"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="formula_3"/>
            <ref name="Atom"/>
            <ref name="Equal"/>
            <ref name="And"/>
            <ref name="Or"/>
            <ref name="Neg"/>
            <ref name="Naf"/>
            <ref name="Implies"/>
            <ref name="Equivalent"/>
            <ref name="Forall"/>
            <ref name="Exists"/>
          </choice>
        </zeroOrMore>
      </group>
    </element>
  </define>
  <define name="Or">
    <element name="Or" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <interleave>
          <optional>
            <attribute name="mapMaterial" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">yes</value>
                <value type="token" datatypeLibrary="" ns="">no</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapDirection" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">bidirectional</value>
                <value type="token" datatypeLibrary="" ns="">forward</value>
                <value type="token" datatypeLibrary="" ns="">backward</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapClosure" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">universal</value>
                <value type="token" datatypeLibrary="" ns="">existential</value>
              </choice>
            </attribute>
          </optional>
        </interleave>
        <optional>
          <ref name="oid"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="formula_4"/>
            <ref name="Atom"/>
            <ref name="Equal"/>
            <ref name="And"/>
            <ref name="Or"/>
            <ref name="Neg"/>
            <ref name="Naf"/>
            <ref name="Implies"/>
            <ref name="Equivalent"/>
            <ref name="Forall"/>
            <ref name="Exists"/>
          </choice>
        </zeroOrMore>
      </group>
    </element>
  </define>
  <define name="And_2">
    <element name="And" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <interleave>
          <optional>
            <attribute name="mapMaterial" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">yes</value>
                <value type="token" datatypeLibrary="" ns="">no</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapDirection" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">bidirectional</value>
                <value type="token" datatypeLibrary="" ns="">forward</value>
                <value type="token" datatypeLibrary="" ns="">backward</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="closure" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">universal</value>
                <value type="token" datatypeLibrary="" ns="">existential</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapClosure" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">universal</value>
                <value type="token" datatypeLibrary="" ns="">existential</value>
              </choice>
            </attribute>
          </optional>
        </interleave>
        <optional>
          <ref name="oid"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="formula_3"/>
            <ref name="Atom"/>
            <ref name="Equal"/>
            <ref name="And"/>
            <ref name="Or"/>
            <ref name="Neg"/>
            <ref name="Naf"/>
            <ref name="Implies"/>
            <ref name="Equivalent"/>
            <ref name="Forall"/>
            <ref name="Exists"/>
          </choice>
        </zeroOrMore>
      </group>
    </element>
  </define>
  <define name="Or_2">
    <element name="Or" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <interleave>
          <optional>
            <attribute name="mapMaterial" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">yes</value>
                <value type="token" datatypeLibrary="" ns="">no</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapDirection" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">bidirectional</value>
                <value type="token" datatypeLibrary="" ns="">forward</value>
                <value type="token" datatypeLibrary="" ns="">backward</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="closure" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">universal</value>
                <value type="token" datatypeLibrary="" ns="">existential</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapClosure" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">universal</value>
                <value type="token" datatypeLibrary="" ns="">existential</value>
              </choice>
            </attribute>
          </optional>
        </interleave>
        <optional>
          <ref name="oid"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="formula_4"/>
            <ref name="Atom"/>
            <ref name="Equal"/>
            <ref name="And"/>
            <ref name="Or"/>
            <ref name="Neg"/>
            <ref name="Naf"/>
            <ref name="Implies"/>
            <ref name="Equivalent"/>
            <ref name="Forall"/>
            <ref name="Exists"/>
          </choice>
        </zeroOrMore>
      </group>
    </element>
  </define>
  <define name="Implies">
    <element name="Implies" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <interleave>
          <optional>
            <attribute name="direction" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">bidirectional</value>
                <value type="token" datatypeLibrary="" ns="">forward</value>
                <value type="token" datatypeLibrary="" ns="">backward</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="material" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">yes</value>
                <value type="token" datatypeLibrary="" ns="">no</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapMaterial" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">yes</value>
                <value type="token" datatypeLibrary="" ns="">no</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapDirection" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">bidirectional</value>
                <value type="token" datatypeLibrary="" ns="">forward</value>
                <value type="token" datatypeLibrary="" ns="">backward</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="closure" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">universal</value>
                <value type="token" datatypeLibrary="" ns="">existential</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapClosure" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">universal</value>
                <value type="token" datatypeLibrary="" ns="">existential</value>
              </choice>
            </attribute>
          </optional>
        </interleave>
        <optional>
          <ref name="oid"/>
        </optional>
        <choice>
          <interleave>
            <ref name="if"/>
            <ref name="then"/>
          </interleave>
          <group>
            <choice>
              <ref name="Atom"/>
              <ref name="Equal"/>
              <ref name="And"/>
              <ref name="Or"/>
              <ref name="Neg"/>
              <ref name="Implies"/>
              <ref name="Equivalent"/>
              <ref name="Forall"/>
              <ref name="Exists"/>
            </choice>
            <ref name="if"/>
          </group>
          <group>
            <ref name="then"/>
            <choice>
              <ref name="Atom"/>
              <ref name="Equal"/>
              <ref name="And"/>
              <ref name="Or"/>
              <ref name="Neg"/>
              <ref name="Naf"/>
              <ref name="Implies"/>
              <ref name="Equivalent"/>
              <ref name="Forall"/>
              <ref name="Exists"/>
            </choice>
          </group>
          <group>
            <choice>
              <ref name="Atom"/>
              <ref name="Equal"/>
              <ref name="And"/>
              <ref name="Or"/>
              <ref name="Neg"/>
              <ref name="Naf"/>
              <ref name="Implies"/>
              <ref name="Equivalent"/>
              <ref name="Forall"/>
              <ref name="Exists"/>
            </choice>
            <choice>
              <ref name="Atom"/>
              <ref name="Equal"/>
              <ref name="And"/>
              <ref name="Or"/>
              <ref name="Neg"/>
              <ref name="Implies"/>
              <ref name="Equivalent"/>
              <ref name="Forall"/>
              <ref name="Exists"/>
            </choice>
          </group>
          <group>
            <choice>
              <ref name="Atom"/>
              <ref name="Equal"/>
              <ref name="And"/>
              <ref name="Or"/>
              <ref name="Neg"/>
              <ref name="Naf"/>
              <ref name="Implies"/>
              <ref name="Equivalent"/>
              <ref name="Forall"/>
              <ref name="Exists"/>
            </choice>
            <ref name="then"/>
          </group>
          <group>
            <ref name="if"/>
            <choice>
              <ref name="Atom"/>
              <ref name="Equal"/>
              <ref name="And"/>
              <ref name="Or"/>
              <ref name="Neg"/>
              <ref name="Implies"/>
              <ref name="Equivalent"/>
              <ref name="Forall"/>
              <ref name="Exists"/>
            </choice>
          </group>
        </choice>
      </group>
    </element>
  </define>
  <define name="Forall">
    <element name="Forall" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <interleave>
          <optional>
            <attribute name="mapMaterial" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">yes</value>
                <value type="token" datatypeLibrary="" ns="">no</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapDirection" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">bidirectional</value>
                <value type="token" datatypeLibrary="" ns="">forward</value>
                <value type="token" datatypeLibrary="" ns="">backward</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapClosure" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">universal</value>
                <value type="token" datatypeLibrary="" ns="">existential</value>
              </choice>
            </attribute>
          </optional>
        </interleave>
        <optional>
          <ref name="oid"/>
        </optional>
        <oneOrMore>
          <choice>
            <ref name="declare"/>
            <ref name="Var"/>
          </choice>
        </oneOrMore>
        <choice>
          <ref name="formula_5"/>
          <ref name="Atom"/>
          <ref name="Equal"/>
          <ref name="And"/>
          <ref name="Or"/>
          <ref name="Neg"/>
          <ref name="Implies"/>
          <ref name="Equivalent"/>
          <ref name="Forall"/>
          <ref name="Exists"/>
        </choice>
      </group>
    </element>
  </define>
  <define name="Exists">
    <element name="Exists" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <interleave>
          <optional>
            <attribute name="mapMaterial" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">yes</value>
                <value type="token" datatypeLibrary="" ns="">no</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapDirection" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">bidirectional</value>
                <value type="token" datatypeLibrary="" ns="">forward</value>
                <value type="token" datatypeLibrary="" ns="">backward</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapClosure" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">universal</value>
                <value type="token" datatypeLibrary="" ns="">existential</value>
              </choice>
            </attribute>
          </optional>
        </interleave>
        <optional>
          <ref name="oid"/>
        </optional>
        <oneOrMore>
          <choice>
            <ref name="declare"/>
            <ref name="Var"/>
          </choice>
        </oneOrMore>
        <choice>
          <ref name="formula_6"/>
          <ref name="Atom"/>
          <ref name="Equal"/>
          <ref name="And"/>
          <ref name="Or"/>
          <ref name="Neg"/>
          <ref name="Implies"/>
          <ref name="Equivalent"/>
          <ref name="Forall"/>
          <ref name="Exists"/>
        </choice>
      </group>
    </element>
  </define>
  <define name="Expr">
    <element name="Expr" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <interleave>
          <optional>
            <attribute name="per" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">copy</value>
                <value type="token" datatypeLibrary="" ns="">value</value>
                <value type="token" datatypeLibrary="" ns="">open</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="type" ns="">
              <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
            </attribute>
          </optional>
        </interleave>
        <optional>
          <ref name="oid"/>
        </optional>
        <interleave>
          <choice>
            <ref name="op_2"/>
            <ref name="Fun"/>
          </choice>
          <zeroOrMore>
            <choice>
              <ref name="Skolem"/>
              <ref name="Reify"/>
              <ref name="Ind"/>
              <ref name="Data"/>
              <ref name="Data_2"/>
              <ref name="Var"/>
              <ref name="Expr"/>
              <ref name="Plex"/>
              <ref name="arg"/>
            </choice>
          </zeroOrMore>
          <optional>
            <ref name="repo"/>
          </optional>
          <zeroOrMore>
            <ref name="slot"/>
          </zeroOrMore>
          <optional>
            <ref name="resl"/>
          </optional>
        </interleave>
      </group>
    </element>
  </define>
  <define name="Fun">
    <element name="Fun" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <interleave>
          <optional>
            <attribute name="per" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">copy</value>
                <value type="token" datatypeLibrary="" ns="">value</value>
                <value type="token" datatypeLibrary="" ns="">open</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="val" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">1</value>
                <value type="token" datatypeLibrary="" ns="">0..</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="iri" ns="">
              <data type="anyURI" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
            </attribute>
          </optional>
        </interleave>
        <text/>
      </group>
    </element>
  </define>
  <define name="Data">
    <element name="Data" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:duration</value>
          </attribute>
          <data type="duration" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:dateTime</value>
          </attribute>
          <data type="dateTime" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:time</value>
          </attribute>
          <data type="time" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:date</value>
          </attribute>
          <data type="date" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:gYearMonth</value>
          </attribute>
          <data type="gYearMonth" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:gYear</value>
          </attribute>
          <data type="gYear" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:gMonthDay</value>
          </attribute>
          <data type="gMonthDay" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:gDay</value>
          </attribute>
          <data type="gDay" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:gMonth</value>
          </attribute>
          <data type="gMonth" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:boolean</value>
          </attribute>
          <data type="boolean" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:base64Binary</value>
          </attribute>
          <data type="base64Binary" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:hexBinary</value>
          </attribute>
          <data type="hexBinary" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:float</value>
          </attribute>
          <data type="float" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:decimal</value>
          </attribute>
          <data type="decimal" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:double</value>
          </attribute>
          <data type="double" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:anyURI</value>
          </attribute>
          <data type="anyURI" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:QName</value>
          </attribute>
          <data type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:NOTATION</value>
          </attribute>
          <data type="NOTATION" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:string</value>
          </attribute>
          <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:normalizedString</value>
          </attribute>
          <data type="normalizedString" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:token</value>
          </attribute>
          <data type="token" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:language</value>
          </attribute>
          <data type="language" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:Name</value>
          </attribute>
          <data type="Name" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:NCName</value>
          </attribute>
          <data type="NCName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:NMTOKEN</value>
          </attribute>
          <data type="NMTOKEN" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:NMTOKENS</value>
          </attribute>
          <data type="NMTOKENS" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:ENTITY</value>
          </attribute>
          <data type="ENTITY" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:ENTITIES</value>
          </attribute>
          <data type="ENTITIES" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:integer</value>
          </attribute>
          <data type="integer" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:nonPositiveInteger</value>
          </attribute>
          <data type="nonPositiveInteger" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:negativeInteger</value>
          </attribute>
          <data type="negativeInteger" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:long</value>
          </attribute>
          <data type="long" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:int</value>
          </attribute>
          <data type="int" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:short</value>
          </attribute>
          <data type="short" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:byte</value>
          </attribute>
          <data type="byte" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:nonNegativeInteger</value>
          </attribute>
          <data type="nonNegativeInteger" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:unsignedLong</value>
          </attribute>
          <data type="unsignedLong" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:unsignedInt</value>
          </attribute>
          <data type="unsignedInt" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:unsignedByte</value>
          </attribute>
          <data type="unsignedByte" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <group>
          <attribute name="type" ns="http://www.w3.org/2001/XMLSchema-instance">
            <value type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.w3.org/2001/XMLSchema">xs:positiveInteger</value>
          </attribute>
          <data type="positiveInteger" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </group>
        <data type="duration" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="dateTime" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="time" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="date" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="gYearMonth" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="gYear" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="gMonthDay" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="gDay" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="gMonth" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="boolean" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="base64Binary" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="hexBinary" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="float" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="decimal" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="double" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="anyURI" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="QName" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="NOTATION" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
      </choice>
    </element>
  </define>
  <define name="Rulebase">
    <element name="Rulebase" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <interleave>
          <optional>
            <attribute name="mapMaterial" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">yes</value>
                <value type="token" datatypeLibrary="" ns="">no</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapDirection" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">bidirectional</value>
                <value type="token" datatypeLibrary="" ns="">forward</value>
                <value type="token" datatypeLibrary="" ns="">backward</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapClosure" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">universal</value>
                <value type="token" datatypeLibrary="" ns="">existential</value>
              </choice>
            </attribute>
          </optional>
        </interleave>
        <optional>
          <ref name="oid"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="Atom"/>
            <ref name="Equal"/>
            <ref name="And"/>
            <ref name="Or"/>
            <ref name="Neg"/>
            <ref name="Implies"/>
            <ref name="Equivalent"/>
            <ref name="Forall"/>
            <ref name="Exists"/>
            <ref name="formula_7"/>
          </choice>
        </zeroOrMore>
      </group>
    </element>
  </define>
  <define name="Entails">
    <element name="Entails" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <optional>
          <ref name="oid"/>
        </optional>
        <choice>
          <interleave>
            <ref name="if_2"/>
            <ref name="then_2"/>
          </interleave>
          <group>
            <ref name="Rulebase"/>
            <ref name="if_2"/>
          </group>
          <group>
            <ref name="then_2"/>
            <ref name="Rulebase"/>
          </group>
          <group>
            <ref name="Rulebase"/>
            <ref name="Rulebase"/>
          </group>
          <group>
            <ref name="Rulebase"/>
            <ref name="then_2"/>
          </group>
          <group>
            <ref name="if_2"/>
            <ref name="Rulebase"/>
          </group>
        </choice>
      </group>
    </element>
  </define>
  <define name="Neg">
    <element name="Neg" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <interleave>
          <optional>
            <attribute name="mapMaterial" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">yes</value>
                <value type="token" datatypeLibrary="" ns="">no</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapDirection" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">bidirectional</value>
                <value type="token" datatypeLibrary="" ns="">forward</value>
                <value type="token" datatypeLibrary="" ns="">backward</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapClosure" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">universal</value>
                <value type="token" datatypeLibrary="" ns="">existential</value>
              </choice>
            </attribute>
          </optional>
        </interleave>
        <optional>
          <ref name="oid"/>
        </optional>
        <choice>
          <ref name="Atom"/>
          <ref name="Equal"/>
          <ref name="And"/>
          <ref name="Or"/>
          <ref name="Neg"/>
          <ref name="Implies"/>
          <ref name="Equivalent"/>
          <ref name="Forall"/>
          <ref name="Exists"/>
          <ref name="strong"/>
        </choice>
      </group>
    </element>
  </define>
  <define name="Naf">
    <element name="Naf" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <interleave>
          <optional>
            <attribute name="mapMaterial" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">yes</value>
                <value type="token" datatypeLibrary="" ns="">no</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapDirection" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">bidirectional</value>
                <value type="token" datatypeLibrary="" ns="">forward</value>
                <value type="token" datatypeLibrary="" ns="">backward</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapClosure" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">universal</value>
                <value type="token" datatypeLibrary="" ns="">existential</value>
              </choice>
            </attribute>
          </optional>
        </interleave>
        <optional>
          <ref name="oid"/>
        </optional>
        <choice>
          <ref name="Atom"/>
          <ref name="Equal"/>
          <ref name="And"/>
          <ref name="Or"/>
          <ref name="Neg"/>
          <ref name="Implies"/>
          <ref name="Equivalent"/>
          <ref name="Forall"/>
          <ref name="Exists"/>
          <ref name="weak"/>
        </choice>
      </group>
    </element>
  </define>
  <define name="Equivalent">
    <element name="Equivalent" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <interleave>
          <optional>
            <attribute name="mapMaterial" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">yes</value>
                <value type="token" datatypeLibrary="" ns="">no</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapDirection" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">bidirectional</value>
                <value type="token" datatypeLibrary="" ns="">forward</value>
                <value type="token" datatypeLibrary="" ns="">backward</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="closure" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">universal</value>
                <value type="token" datatypeLibrary="" ns="">existential</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="mapClosure" ns="">
              <choice>
                <value type="token" datatypeLibrary="" ns="">universal</value>
                <value type="token" datatypeLibrary="" ns="">existential</value>
              </choice>
            </attribute>
          </optional>
        </interleave>
        <optional>
          <ref name="oid"/>
        </optional>
        <choice>
          <ref name="Atom"/>
          <ref name="Equal"/>
          <ref name="And"/>
          <ref name="Or"/>
          <ref name="Neg"/>
          <ref name="Implies"/>
          <ref name="Equivalent"/>
          <ref name="Forall"/>
          <ref name="Exists"/>
          <ref name="torso"/>
        </choice>
        <choice>
          <ref name="Atom"/>
          <ref name="Equal"/>
          <ref name="And"/>
          <ref name="Or"/>
          <ref name="Neg"/>
          <ref name="Implies"/>
          <ref name="Equivalent"/>
          <ref name="Forall"/>
          <ref name="Exists"/>
          <ref name="torso"/>
        </choice>
      </group>
    </element>
  </define>
  <define name="Equal">
    <element name="Equal" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <optional>
          <attribute name="oriented" ns="">
            <choice>
              <value type="token" datatypeLibrary="" ns="">no</value>
              <value type="token" datatypeLibrary="" ns="">yes</value>
            </choice>
          </attribute>
        </optional>
        <interleave>
          <optional>
            <ref name="oid"/>
          </optional>
          <optional>
            <ref name="degree"/>
          </optional>
        </interleave>
        <choice>
          <ref name="Skolem"/>
          <ref name="Reify"/>
          <ref name="Ind"/>
          <ref name="Data"/>
          <ref name="Data_2"/>
          <ref name="Var"/>
          <ref name="Expr"/>
          <ref name="Plex"/>
          <ref name="left"/>
        </choice>
        <choice>
          <ref name="Skolem"/>
          <ref name="Reify"/>
          <ref name="Ind"/>
          <ref name="Data"/>
          <ref name="Data_2"/>
          <ref name="Var"/>
          <ref name="Expr"/>
          <ref name="Plex"/>
          <ref name="right"/>
        </choice>
      </group>
    </element>
  </define>
  <define name="Skolem">
    <element name="Skolem" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <optional>
          <attribute name="type" ns="">
            <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
          </attribute>
        </optional>
        <text/>
      </group>
    </element>
  </define>
  <define name="Reify">
    <element name="Reify" ns="http://www.ruleml.org/1.0/xsd">
      <optional>
        <choice>
          <ref name="RuleML"/>
          <ref name="Assert"/>
          <ref name="Retract"/>
          <ref name="Query"/>
          <ref name="Atom"/>
          <ref name="Rel"/>
          <ref name="And"/>
          <ref name="Or"/>
          <ref name="And_2"/>
          <ref name="Or_2"/>
          <ref name="Implies"/>
          <ref name="Forall"/>
          <ref name="Exists"/>
          <ref name="Expr"/>
          <ref name="Fun"/>
          <ref name="Data"/>
          <ref name="Rulebase"/>
          <ref name="Entails"/>
          <ref name="Neg"/>
          <ref name="Naf"/>
          <ref name="Equivalent"/>
          <ref name="Equal"/>
          <ref name="Skolem"/>
          <ref name="Reify"/>
          <ref name="Ind"/>
          <ref name="Var"/>
          <ref name="Plex"/>
          <ref name="formula"/>
          <ref name="formula_2"/>
          <ref name="op"/>
          <ref name="formula_3"/>
          <ref name="formula_4"/>
          <ref name="then"/>
          <ref name="if"/>
          <ref name="declare"/>
          <ref name="formula_5"/>
          <ref name="formula_6"/>
          <ref name="op_2"/>
          <ref name="formula_7"/>
          <ref name="then_2"/>
          <ref name="if_2"/>
          <ref name="degree"/>
          <ref name="strong"/>
          <ref name="weak"/>
          <ref name="torso"/>
          <ref name="oid"/>
          <ref name="slot"/>
          <ref name="left"/>
          <ref name="right"/>
          <ref name="arg"/>
          <ref name="resl"/>
          <ref name="repo"/>
        </choice>
      </optional>
    </element>
  </define>
  <define name="Ind">
    <element name="Ind" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <interleave>
          <optional>
            <attribute name="iri" ns="">
              <data type="anyURI" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="type" ns="">
              <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
            </attribute>
          </optional>
        </interleave>
        <text/>
      </group>
    </element>
  </define>
  <define name="Var">
    <element name="Var" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <optional>
          <attribute name="type" ns="">
            <data type="string" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
          </attribute>
        </optional>
        <text/>
      </group>
    </element>
  </define>
  <define name="Plex">
    <element name="Plex" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <optional>
          <ref name="oid"/>
        </optional>
        <interleave>
          <zeroOrMore>
            <choice>
              <ref name="Skolem"/>
              <ref name="Reify"/>
              <ref name="Ind"/>
              <ref name="Data"/>
              <ref name="Data_2"/>
              <ref name="Var"/>
              <ref name="Expr"/>
              <ref name="Plex"/>
              <ref name="arg"/>
            </choice>
          </zeroOrMore>
          <optional>
            <ref name="repo"/>
          </optional>
          <zeroOrMore>
            <ref name="slot"/>
          </zeroOrMore>
          <optional>
            <ref name="resl"/>
          </optional>
        </interleave>
      </group>
    </element>
  </define>
  <define name="formula">
    <element name="formula" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <ref name="Atom"/>
        <ref name="Equal"/>
        <ref name="And"/>
        <ref name="Or"/>
        <ref name="Neg"/>
        <ref name="Implies"/>
        <ref name="Equivalent"/>
        <ref name="Forall"/>
        <ref name="Exists"/>
        <ref name="Entails"/>
        <ref name="Rulebase"/>
      </choice>
    </element>
  </define>
  <define name="formula_2">
    <element name="formula" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <ref name="Atom"/>
        <ref name="Equal"/>
        <ref name="And_2"/>
        <ref name="Or_2"/>
        <ref name="Neg"/>
        <ref name="Naf"/>
        <ref name="Implies"/>
        <ref name="Equivalent"/>
        <ref name="Forall"/>
        <ref name="Exists"/>
        <ref name="Entails"/>
        <ref name="Rulebase"/>
      </choice>
    </element>
  </define>
  <define name="op">
    <element name="op" ns="http://www.ruleml.org/1.0/xsd">
      <ref name="Rel"/>
    </element>
  </define>
  <define name="formula_3">
    <element name="formula" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <ref name="Atom"/>
        <ref name="Equal"/>
        <ref name="And"/>
        <ref name="Or"/>
        <ref name="Neg"/>
        <ref name="Naf"/>
        <ref name="Implies"/>
        <ref name="Equivalent"/>
        <ref name="Forall"/>
        <ref name="Exists"/>
      </choice>
    </element>
  </define>
  <define name="formula_4">
    <element name="formula" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <ref name="Atom"/>
        <ref name="Equal"/>
        <ref name="And"/>
        <ref name="Or"/>
        <ref name="Neg"/>
        <ref name="Naf"/>
        <ref name="Implies"/>
        <ref name="Equivalent"/>
        <ref name="Forall"/>
        <ref name="Exists"/>
      </choice>
    </element>
  </define>
  <define name="then">
    <element name="then" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <ref name="Atom"/>
        <ref name="Equal"/>
        <ref name="And"/>
        <ref name="Or"/>
        <ref name="Neg"/>
        <ref name="Implies"/>
        <ref name="Equivalent"/>
        <ref name="Forall"/>
        <ref name="Exists"/>
      </choice>
    </element>
  </define>
  <define name="if">
    <element name="if" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <ref name="Atom"/>
        <ref name="Equal"/>
        <ref name="And"/>
        <ref name="Or"/>
        <ref name="Neg"/>
        <ref name="Naf"/>
        <ref name="Implies"/>
        <ref name="Equivalent"/>
        <ref name="Forall"/>
        <ref name="Exists"/>
      </choice>
    </element>
  </define>
  <define name="declare">
    <element name="declare" ns="http://www.ruleml.org/1.0/xsd">
      <ref name="Var"/>
    </element>
  </define>
  <define name="formula_5">
    <element name="formula" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <ref name="Atom"/>
        <ref name="Equal"/>
        <ref name="And"/>
        <ref name="Or"/>
        <ref name="Neg"/>
        <ref name="Implies"/>
        <ref name="Equivalent"/>
        <ref name="Forall"/>
        <ref name="Exists"/>
      </choice>
    </element>
  </define>
  <define name="formula_6">
    <element name="formula" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <ref name="Atom"/>
        <ref name="Equal"/>
        <ref name="And"/>
        <ref name="Or"/>
        <ref name="Neg"/>
        <ref name="Implies"/>
        <ref name="Equivalent"/>
        <ref name="Forall"/>
        <ref name="Exists"/>
      </choice>
    </element>
  </define>
  <define name="op_2">
    <element name="op" ns="http://www.ruleml.org/1.0/xsd">
      <ref name="Fun"/>
    </element>
  </define>
  <define name="formula_7">
    <element name="formula" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <ref name="Atom"/>
        <ref name="Equal"/>
        <ref name="And"/>
        <ref name="Or"/>
        <ref name="Neg"/>
        <ref name="Implies"/>
        <ref name="Equivalent"/>
        <ref name="Forall"/>
        <ref name="Exists"/>
      </choice>
    </element>
  </define>
  <define name="then_2">
    <element name="then" ns="http://www.ruleml.org/1.0/xsd">
      <ref name="Rulebase"/>
    </element>
  </define>
  <define name="if_2">
    <element name="if" ns="http://www.ruleml.org/1.0/xsd">
      <ref name="Rulebase"/>
    </element>
  </define>
  <define name="degree">
    <element name="degree" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <ref name="Data_2"/>
        <ref name="Data"/>
      </choice>
    </element>
  </define>
  <define name="strong">
    <element name="strong" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <ref name="Atom"/>
        <ref name="Equal"/>
        <ref name="And"/>
        <ref name="Or"/>
        <ref name="Neg"/>
        <ref name="Implies"/>
        <ref name="Equivalent"/>
        <ref name="Forall"/>
        <ref name="Exists"/>
      </choice>
    </element>
  </define>
  <define name="weak">
    <element name="weak" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <ref name="Atom"/>
        <ref name="Equal"/>
        <ref name="And"/>
        <ref name="Or"/>
        <ref name="Neg"/>
        <ref name="Implies"/>
        <ref name="Equivalent"/>
        <ref name="Forall"/>
        <ref name="Exists"/>
      </choice>
    </element>
  </define>
  <define name="torso">
    <element name="torso" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <ref name="Atom"/>
        <ref name="Equal"/>
        <ref name="And"/>
        <ref name="Or"/>
        <ref name="Neg"/>
        <ref name="Implies"/>
        <ref name="Equivalent"/>
        <ref name="Forall"/>
        <ref name="Exists"/>
      </choice>
    </element>
  </define>
  <define name="oid">
    <element name="oid" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <ref name="Skolem"/>
        <ref name="Reify"/>
        <ref name="Ind"/>
        <ref name="Data"/>
        <ref name="Data_2"/>
        <ref name="Var"/>
        <ref name="Expr"/>
        <ref name="Plex"/>
      </choice>
    </element>
  </define>
  <define name="slot">
    <element name="slot" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <interleave>
          <optional>
            <attribute name="card" ns="">
              <data type="nonNegativeInteger" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="weight" ns="">
              <data type="decimal" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
                <param name="minInclusive">0.0</param>
                <param name="maxInclusive">1.0</param>
              </data>
            </attribute>
          </optional>
        </interleave>
        <choice>
          <ref name="Ind"/>
          <ref name="Data"/>
          <ref name="Data_2"/>
          <ref name="Expr"/>
          <ref name="Plex"/>
        </choice>
        <choice>
          <ref name="Skolem"/>
          <ref name="Reify"/>
          <ref name="Ind"/>
          <ref name="Data"/>
          <ref name="Data_2"/>
          <ref name="Var"/>
          <ref name="Expr"/>
          <ref name="Plex"/>
        </choice>
      </group>
    </element>
  </define>
  <define name="left">
    <element name="left" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <ref name="Skolem"/>
        <ref name="Reify"/>
        <ref name="Ind"/>
        <ref name="Data"/>
        <ref name="Data_2"/>
        <ref name="Var"/>
        <ref name="Expr"/>
        <ref name="Plex"/>
      </choice>
    </element>
  </define>
  <define name="right">
    <element name="right" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <ref name="Skolem"/>
        <ref name="Reify"/>
        <ref name="Ind"/>
        <ref name="Data"/>
        <ref name="Data_2"/>
        <ref name="Var"/>
        <ref name="Expr"/>
        <ref name="Plex"/>
      </choice>
    </element>
  </define>
  <define name="arg">
    <element name="arg" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <attribute name="index" ns="">
          <data type="positiveInteger" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </attribute>
        <choice>
          <ref name="Skolem"/>
          <ref name="Reify"/>
          <ref name="Ind"/>
          <ref name="Data"/>
          <ref name="Data_2"/>
          <ref name="Var"/>
          <ref name="Expr"/>
          <ref name="Plex"/>
        </choice>
      </group>
    </element>
  </define>
  <define name="resl">
    <element name="resl" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <ref name="Var"/>
        <ref name="Plex_2"/>
      </choice>
    </element>
  </define>
  <define name="repo">
    <element name="repo" ns="http://www.ruleml.org/1.0/xsd">
      <choice>
        <ref name="Var"/>
        <ref name="Plex_3"/>
      </choice>
    </element>
  </define>
  <define name="act">
    <element name="act" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <attribute name="index" ns="">
          <data type="positiveInteger" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"/>
        </attribute>
        <zeroOrMore>
          <choice>
            <ref name="Assert"/>
            <ref name="Retract"/>
            <ref name="Query"/>
          </choice>
        </zeroOrMore>
      </group>
    </element>
  </define>
  <define name="Data_2">
    <element name="Data" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <optional>
          <attribute name="schemaLocation" ns="http://www.w3.org/2001/XMLSchema-instance">
            <text/>
          </attribute>
        </optional>
        <interleave>
          <text/>
          <zeroOrMore>
            <ref name="_1"/>
          </zeroOrMore>
        </interleave>
      </group>
    </element>
  </define>
  <define name="Plex_2">
    <element name="Plex" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <optional>
          <ref name="oid"/>
        </optional>
        <interleave>
          <zeroOrMore>
            <ref name="slot"/>
          </zeroOrMore>
          <optional>
            <ref name="resl"/>
          </optional>
        </interleave>
      </group>
    </element>
  </define>
  <define name="Plex_3">
    <element name="Plex" ns="http://www.ruleml.org/1.0/xsd">
      <group>
        <optional>
          <ref name="oid"/>
        </optional>
        <interleave>
          <zeroOrMore>
            <choice>
              <ref name="Skolem"/>
              <ref name="Reify"/>
              <ref name="Ind"/>
              <ref name="Data"/>
              <ref name="Data_2"/>
              <ref name="Var"/>
              <ref name="Expr"/>
              <ref name="Plex"/>
              <ref name="arg"/>
            </choice>
          </zeroOrMore>
          <optional>
            <ref name="repo"/>
          </optional>
        </interleave>
      </group>
    </element>
  </define>
  <define name="_1">
    <element>
      <anyName/>
      <group>
        <zeroOrMore>
          <attribute>
            <anyName/>
            <text/>
          </attribute>
        </zeroOrMore>
        <interleave>
          <text/>
          <zeroOrMore>
            <ref name="_1"/>
          </zeroOrMore>
        </interleave>
      </group>
    </element>
  </define>
</grammar>
