simplified/naffologeq_normal_simplified.rnc

default namespace  ruleml= "http://ruleml.org/spec"

start =
  RuleML
  | Assert
  | Retract
  | Query
  | Atom
  | Rel
  | And
  | Or
  | And_2
  | Or_2
  | Implies
  | Forall
  | Exists
  | Expr
  | Fun
  | Rulebase
  | Entails
  | Neg
  | Naf
  | Equivalent
  | Equal
  | Skolem
  | Reify
  | Ind
  | Var
  | Plex
  | formula
  | formula_2
  | op
  | formula_3
  | formula_4
  | then
  | if
  | declare
  | formula_5
  | formula_6
  | op_2
  | formula_7
  | then_2
  | if_2
  | degree
  | strong
  | weak
  | torso
  | oid
  | slot
  | left
  | right
  | arg
  | resl
  | repo
RuleML = element RuleML { oid?, act* }
Assert =
  element Assert {
    (attribute mapMaterial { "yes" | "no" }
     & attribute mapDirection {
         "bidirectional" | "forward" | "backward"
       }
     & attribute mapClosure { "universal" | "existential" }?),
    oid?,
    formula*
  }
Retract =
  element Retract {
    (attribute mapMaterial { "yes" | "no" }
     & attribute mapDirection {
         "bidirectional" | "forward" | "backward"
       }
     & attribute mapClosure { "universal" | "existential" }?),
    oid?,
    formula*
  }
Query =
  element Query {
    (attribute mapMaterial { "yes" | "no" }
     & attribute mapDirection {
         "bidirectional" | "forward" | "backward"
       }
     & attribute closure { "universal" | "existential" }?
     & attribute mapClosure { "universal" | "existential" }?),
    oid?,
    formula_2*
  }
Atom =
  element Atom {
    attribute closure { "universal" | "existential" }?,
    oid?,
    degree?,
    op,
    arg*,
    repo?,
    slot*,
    resl?
  }
Rel =
  element Rel {
    attribute iri { xsd:anyURI }?,
    text
  }
And =
  element And {
    (attribute mapMaterial { "yes" | "no" }
     & attribute mapDirection {
         "bidirectional" | "forward" | "backward"
       }
     & attribute mapClosure { "universal" | "existential" }?),
    oid?,
    formula_3*
  }
Or =
  element Or {
    (attribute mapMaterial { "yes" | "no" }
     & attribute mapDirection {
         "bidirectional" | "forward" | "backward"
       }
     & attribute mapClosure { "universal" | "existential" }?),
    oid?,
    formula_4*
  }
And_2 =
  element And {
    (attribute mapMaterial { "yes" | "no" }
     & attribute mapDirection {
         "bidirectional" | "forward" | "backward"
       }
     & attribute closure { "universal" | "existential" }?
     & attribute mapClosure { "universal" | "existential" }?),
    oid?,
    formula_3*
  }
Or_2 =
  element Or {
    (attribute mapMaterial { "yes" | "no" }
     & attribute mapDirection {
         "bidirectional" | "forward" | "backward"
       }
     & attribute closure { "universal" | "existential" }?
     & attribute mapClosure { "universal" | "existential" }?),
    oid?,
    formula_4*
  }
Implies =
  element Implies {
    (attribute direction { "bidirectional" | "forward" | "backward" }
     & attribute material { "yes" | "no" }
     & attribute mapMaterial { "yes" | "no" }
     & attribute mapDirection {
         "bidirectional" | "forward" | "backward"
       }
     & attribute closure { "universal" | "existential" }?
     & attribute mapClosure { "universal" | "existential" }?),
    oid?,
    if,
    then
  }
Forall =
  element Forall {
    (attribute mapMaterial { "yes" | "no" }
     & attribute mapDirection {
         "bidirectional" | "forward" | "backward"
       }
     & attribute mapClosure { "universal" | "existential" }?),
    oid?,
    declare+,
    formula_5
  }
Exists =
  element Exists {
    (attribute mapMaterial { "yes" | "no" }
     & attribute mapDirection {
         "bidirectional" | "forward" | "backward"
       }
     & attribute mapClosure { "universal" | "existential" }?),
    oid?,
    declare+,
    formula_6
  }
Expr =
  element Expr {
    (attribute per { "copy" | "value" | "open" }
     & attribute type { xsd:string }?),
    oid?,
    op_2,
    arg*,
    repo?,
    slot*,
    resl?
  }
Fun =
  element Fun {
    (attribute per { "copy" | "value" | "open" }
     & attribute val { "1" | "0.." }
     & attribute iri { xsd:anyURI }?),
    text
  }
Rulebase =
  element Rulebase {
    (attribute mapMaterial { "yes" | "no" }
     & attribute mapDirection {
         "bidirectional" | "forward" | "backward"
       }
     & attribute mapClosure { "universal" | "existential" }?),
    oid?,
    formula_7*
  }
Entails = element Entails { oid?, if_2, then_2 }
Neg =
  element Neg {
    (attribute mapMaterial { "yes" | "no" }
     & attribute mapDirection {
         "bidirectional" | "forward" | "backward"
       }
     & attribute mapClosure { "universal" | "existential" }?),
    oid?,
    strong
  }
Naf =
  element Naf {
    (attribute mapMaterial { "yes" | "no" }
     & attribute mapDirection {
         "bidirectional" | "forward" | "backward"
       }
     & attribute mapClosure { "universal" | "existential" }?),
    oid?,
    weak
  }
Equivalent =
  element Equivalent {
    (attribute mapMaterial { "yes" | "no" }
     & attribute mapDirection {
         "bidirectional" | "forward" | "backward"
       }
     & attribute closure { "universal" | "existential" }?
     & attribute mapClosure { "universal" | "existential" }?),
    oid?,
    torso,
    torso
  }
Equal =
  element Equal {
    attribute oriented { "no" | "yes" },
    oid?,
    degree?,
    left,
    right
  }
Skolem =
  element Skolem {
    attribute type { xsd:string }?,
    text
  }
Reify = element Reify { _1? }
Ind =
  element Ind {
    (attribute iri { xsd:anyURI }?
     & attribute type { xsd:string }?),
    text
  }
Var =
  element Var {
    attribute type { xsd:string }?,
    text
  }
Plex = element Plex { oid?, arg*, repo?, slot*, resl? }
formula =
  element formula {
    Atom
    | Equal
    | And
    | Or
    | Neg
    | Implies
    | Equivalent
    | Forall
    | Exists
    | Entails
    | Rulebase
  }
formula_2 =
  element formula {
    Atom
    | Equal
    | And_2
    | Or_2
    | Neg
    | Naf
    | Implies
    | Equivalent
    | Forall
    | Exists
    | Entails
    | Rulebase
  }
op = element op { Rel }
formula_3 =
  element formula {
    Atom
    | Equal
    | And
    | Or
    | Neg
    | Naf
    | Implies
    | Equivalent
    | Forall
    | Exists
  }
formula_4 =
  element formula {
    Atom
    | Equal
    | And
    | Or
    | Neg
    | Naf
    | Implies
    | Equivalent
    | Forall
    | Exists
  }
then =
  element then {
    Atom
    | Equal
    | And
    | Or
    | Neg
    | Implies
    | Equivalent
    | Forall
    | Exists
  }
if =
  element if {
    Atom
    | Equal
    | And
    | Or
    | Neg
    | Naf
    | Implies
    | Equivalent
    | Forall
    | Exists
  }
declare = element declare { Var }
formula_5 =
  element formula {
    Atom
    | Equal
    | And
    | Or
    | Neg
    | Implies
    | Equivalent
    | Forall
    | Exists
  }
formula_6 =
  element formula {
    Atom
    | Equal
    | And
    | Or
    | Neg
    | Implies
    | Equivalent
    | Forall
    | Exists
  }
op_2 = element op { Fun }
formula_7 =
  element formula {
    Atom
    | Equal
    | And
    | Or
    | Neg
    | Implies
    | Equivalent
    | Forall
    | Exists
  }
then_2 = element then { Rulebase }
if_2 = element if { Rulebase }
degree = element degree { Data }
strong =
  element strong {
    Atom
    | Equal
    | And
    | Or
    | Neg
    | Implies
    | Equivalent
    | Forall
    | Exists
  }
weak =
  element weak {
    Atom
    | Equal
    | And
    | Or
    | Neg
    | Implies
    | Equivalent
    | Forall
    | Exists
  }
torso =
  element torso {
    Atom
    | Equal
    | And
    | Or
    | Neg
    | Implies
    | Equivalent
    | Forall
    | Exists
  }
oid = element oid { Skolem | Reify | Ind | Data | Var | Expr | Plex }
slot =
  element slot {
    (attribute card { xsd:nonNegativeInteger }?
     & attribute weight {
         xsd:decimal { minInclusive = "0.0" maxInclusive = "1.0" }
       }?),
    (Ind | Data | Expr | Plex),
    (Skolem | Reify | Ind | Data | Var | Expr | Plex)
  }
left = element left { Skolem | Reify | Ind | Data | Var | Expr | Plex }
right =
  element right { Skolem | Reify | Ind | Data | Var | Expr | Plex }
arg =
  element arg {
    attribute index { xsd:positiveInteger },
    (Skolem | Reify | Ind | Data | Var | Expr | Plex)
  }
resl = element resl { Var | Plex_2 }
repo = element repo { Var | Plex_3 }
act =
  element act {
    attribute index { xsd:positiveInteger },
    (Assert | Retract | Query)*
  }
_1 =
  element ruleml:* {
    attribute * { text }*,
    (text & _1*)
  }
Data = element Data { text & _2* }
Plex_2 = element Plex { oid?, slot*, resl? }
Plex_3 = element Plex { oid?, arg*, repo? }
_2 =
  element * {
    attribute * { text }*,
    (text & _2*)
  }
