simplified/nafnegdisdatalogplus_relaxed.rnc

default namespace = "http://ruleml.org/spec"
namespace ns1 = "http://www.w3.org/2001/XMLSchema-instance"

start =
  RuleML
  | Assert
  | Retract
  | Query
  | Atom
  | Rel
  | And
  | Or
  | Implies
  | Forall
  | Exists
  | Expr
  | Fun
  | Rulebase
  | Entails
  | Neg
  | Naf
  | Equivalent
  | Equal
  | Data
  | Skolem
  | Reify
  | Ind
  | Var
  | formula
  | formula_2
  | op
  | formula_3
  | formula_4
  | then
  | if
  | declare
  | formula_5
  | formula_6
  | op_2
  | formula_7
  | then_2
  | if_2
  | degree
  | strong
  | weak
  | meta
  | torso
  | oid
  | slot
  | left
  | right
  | arg
RuleML =
  element RuleML {
    (attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    meta*,
    (act | (Assert | Retract | Query)*)+
  }
Assert =
  element Assert {
    (attribute mapMaterial { "yes" | "no" }?
     & attribute mapDirection {
         "bidirectional" | "forward" | "backward"
       }?
     & attribute mapClosure { "universal" | "existential" }?
     & attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    meta*,
    (formula
     | Atom
     | Equal
     | Neg
     | Implies
     | Equivalent
     | Forall
     | Entails
     | Rulebase)*
  }
Retract =
  element Retract {
    (attribute mapMaterial { "yes" | "no" }?
     & attribute mapDirection {
         "bidirectional" | "forward" | "backward"
       }?
     & attribute mapClosure { "universal" | "existential" }?
     & attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    meta*,
    (formula
     | Atom
     | Equal
     | Neg
     | Implies
     | Equivalent
     | Forall
     | Entails
     | Rulebase)*
  }
Query =
  element Query {
    (attribute closure { "universal" | "existential" }?
     & attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    meta*,
    (formula_2
     | Atom
     | Equal
     | And
     | Or
     | Neg
     | Naf
     | Exists
     | Entails
     | Rulebase)*
  }
Atom =
  element Atom {
    (attribute closure { "universal" | "existential" }?
     & attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    (meta* & oid? & degree?),
    ((op | Rel)
     & (Skolem | Reify | Ind | Data | Var | Expr | arg)*
     & slot*)
  }
Rel =
  element Rel {
    (attribute iri { xsd:anyURI }?
     & attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    xsd:token
  }
And =
  element And {
    (attribute closure { "universal" | "existential" }?
     & attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    (meta* & degree?),
    (formula_3 | Atom | Equal | And_2 | Or_2 | Neg | Naf)*
  }
Or =
  element Or {
    (attribute closure { "universal" | "existential" }?
     & attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    (meta* & degree?),
    (formula_4 | Atom | Equal | And_2 | Or_2 | Neg | Naf)*
  }
Implies =
  element Implies {
    (attribute direction { "bidirectional" | "forward" | "backward" }?
     & attribute material { "yes" | "no" }?
     & attribute closure { "universal" | "existential" }?
     & attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    (meta* & degree?),
    ((if & then)
     | ((Atom | Equal | And_3 | Or_3 | Neg | Exists_2), if)
     | (then, (Atom | Equal | And_2 | Or_2 | Neg | Naf))
     | ((Atom | Equal | And_2 | Or_2 | Neg | Naf),
        (Atom | Equal | And_3 | Or_3 | Neg | Exists_2))
     | ((Atom | Equal | And_2 | Or_2 | Neg | Naf), then)
     | (if, (Atom | Equal | And_3 | Or_3 | Neg | Exists_2)))
  }
Forall =
  element Forall {
    (attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    (meta* & degree?),
    (declare | Var)+,
    (formula_5 | Atom | Equal | Neg | Implies | Equivalent | Forall)
  }
Exists =
  element Exists {
    (attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    (meta* & degree?),
    (declare | Var)+,
    (formula_6 | Atom | Equal | And_2 | Or_2 | Neg | Exists)
  }
Expr =
  element Expr {
    (attribute per { "copy" }?
     & attribute type { xsd:string }?
     & attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    (meta* & oid?),
    ((op_2 | Fun)
     & (Skolem | Reify | Ind | Data | Var | Expr | arg)*
     & slot*)
  }
Fun =
  element Fun {
    (attribute per { "copy" }?
     & attribute val { "1" }?
     & attribute iri { xsd:anyURI }?
     & attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    xsd:token
  }
Rulebase =
  element Rulebase {
    (attribute mapMaterial { "yes" | "no" }?
     & attribute mapDirection {
         "bidirectional" | "forward" | "backward"
       }?
     & attribute mapClosure { "universal" | "existential" }?
     & attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    meta*,
    (Atom | Equal | Neg | Implies | Equivalent | Forall | formula_7)*
  }
Entails =
  element Entails {
    (attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    meta*,
    ((if_2 & then_2)
     | ((Rulebase | Atom | Equal | Neg | Implies | Equivalent | Forall),
        if_2)
     | (then_2,
        (Rulebase | Atom | Equal | Neg | Implies | Equivalent | Forall))
     | ((Rulebase | Atom | Equal | Neg | Implies | Equivalent | Forall),
        (Rulebase | Atom | Equal | Neg | Implies | Equivalent | Forall))
     | ((Rulebase | Atom | Equal | Neg | Implies | Equivalent | Forall),
        then_2)
     | (if_2,
        (Rulebase
         | Atom
         | Equal
         | Neg
         | Implies
         | Equivalent
         | Forall)))
  }
Neg =
  element Neg {
    (attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    (meta* & degree?),
    (Atom | Equal | strong)
  }
Naf =
  element Naf {
    (attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    (meta* & degree?),
    (Atom | Equal | Neg | weak)
  }
Equivalent =
  element Equivalent {
    (attribute closure { "universal" | "existential" }?
     & attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    (meta* & degree?),
    (Atom | Equal | And_3 | Or_3 | Neg | Exists_2 | torso),
    (Atom | Equal | And_3 | Or_3 | Neg | Exists_2 | torso)
  }
Equal =
  element Equal {
    (attribute oriented { "no" | "yes" }?
     & attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    (meta* & degree?),
    (Skolem | Reify | Ind | Data | Var | Expr | left),
    (Skolem | Reify | Ind | Data | Var | Expr | right)
  }
Data =
  element Data {
    attribute node { xsd:anyURI }?
    & attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & text
    & _1*
  }
Skolem =
  element Skolem {
    (attribute type { xsd:string }?
     & attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    xsd:token
  }
Reify =
  element Reify {
    attribute node { xsd:anyURI }?
    & attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & (RuleML
       | Assert
       | Retract
       | Query
       | Atom
       | Rel
       | And
       | Or
       | Implies
       | Forall
       | Exists
       | Expr
       | Fun
       | Rulebase
       | Entails
       | Neg
       | Naf
       | Equivalent
       | Equal
       | Data
       | Skolem
       | Reify
       | Ind
       | Var
       | formula
       | formula_2
       | op
       | formula_3
       | formula_4
       | then
       | if
       | declare
       | formula_5
       | formula_6
       | op_2
       | formula_7
       | then_2
       | if_2
       | degree
       | strong
       | weak
       | meta
       | torso
       | oid
       | slot
       | left
       | right
       | arg)*
  }
Ind =
  element Ind {
    (attribute iri { xsd:anyURI }?
     & attribute type { xsd:string }?
     & attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    xsd:token
  }
Var =
  element Var {
    (attribute type { xsd:string }?
     & attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    xsd:token
  }
formula =
  element formula {
    attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & (Atom
       | Equal
       | Neg
       | Implies
       | Equivalent
       | Forall
       | Entails
       | Rulebase)
  }
formula_2 =
  element formula {
    attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & (Atom
       | Equal
       | And
       | Or
       | Neg
       | Naf
       | Exists
       | Entails
       | Rulebase)
  }
op =
  element op {
    attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & Rel
  }
formula_3 =
  element formula {
    attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & (Atom | Equal | And_2 | Or_2 | Neg | Naf)
  }
formula_4 =
  element formula {
    attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & (Atom | Equal | And_2 | Or_2 | Neg | Naf)
  }
then =
  element then {
    attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & (Atom | Equal | And_3 | Or_3 | Neg | Exists_2)
  }
if =
  element if {
    attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & (Atom | Equal | And_2 | Or_2 | Neg | Naf)
  }
declare =
  element declare {
    attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & Var
  }
formula_5 =
  element formula {
    attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & (Atom | Equal | Neg | Implies | Equivalent | Forall)
  }
formula_6 =
  element formula {
    attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & (Atom | Equal | And_2 | Or_2 | Neg | Exists)
  }
op_2 =
  element op {
    attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & Fun
  }
formula_7 =
  element formula {
    attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & (Atom | Equal | Neg | Implies | Equivalent | Forall)
  }
then_2 =
  element then {
    attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & (Rulebase | Atom | Equal | Neg | Implies | Equivalent | Forall)
  }
if_2 =
  element if {
    attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & (Rulebase | Atom | Equal | Neg | Implies | Equivalent | Forall)
  }
degree =
  element degree {
    attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & Data
  }
strong =
  element strong {
    attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & (Atom | Equal)
  }
weak =
  element weak {
    attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & (Atom | Equal | Neg)
  }
meta =
  element meta {
    attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & (Atom
       | Equal
       | Neg
       | Implies
       | Equivalent
       | Forall
       | Entails
       | Rulebase)
  }
torso =
  element torso {
    attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & (Atom | Equal | And_3 | Or_3 | Neg | Exists_2)
  }
oid =
  element oid {
    attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & (Skolem | Reify | Ind | Data | Var | Expr)
  }
slot =
  element slot {
    (attribute card { xsd:nonNegativeInteger }?
     & attribute weight {
         xsd:decimal { minInclusive = "0.0" maxInclusive = "1.0" }
       }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    (Ind | Data | Expr),
    (Skolem | Reify | Ind | Data | Var | Expr)
  }
left =
  element left {
    attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & (Skolem | Reify | Ind | Data | Var | Expr)
  }
right =
  element right {
    attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & (Skolem | Reify | Ind | Data | Var | Expr)
  }
arg =
  element arg {
    (attribute index { xsd:positiveInteger }
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    (Skolem | Reify | Ind | Data | Var | Expr)
  }
act =
  element act {
    (attribute index { xsd:positiveInteger }
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    (Assert | Retract | Query)*
  }
And_2 =
  element And {
    (attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    (meta* & degree?),
    (formula_3 | Atom | Equal | And_2 | Or_2 | Neg | Naf)*
  }
Or_2 =
  element Or {
    (attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    (meta* & degree?),
    (formula_4 | Atom | Equal | And_2 | Or_2 | Neg | Naf)*
  }
And_3 =
  element And {
    (attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    (meta* & degree?),
    (Atom | And_3 | Or_3 | Neg | Exists_2 | formula_8)*
  }
Or_3 =
  element Or {
    (attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    (meta* & degree?),
    (formula_9 | Atom | And_3 | Or_3 | Neg | Exists_2)*
  }
Exists_2 =
  element Exists {
    (attribute node { xsd:anyURI }?
     & attribute ns1:schemaLocation { text }?
     & attribute xml:base { xsd:anyURI }?
     & attribute xml:id { xsd:NCName }?),
    (meta* & degree?),
    (declare | Var)+,
    (Atom | And_3 | Or_3 | Neg | Exists_2 | formula_10)
  }
_1 =
  element * {
    attribute * { text }*,
    (text & _1*)
  }
formula_8 =
  element formula {
    attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & (Atom | And_3 | Or_3 | Neg | Exists_2)
  }
formula_9 =
  element formula {
    attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & (Atom | And_3 | Or_3 | Neg | Exists_2)
  }
formula_10 =
  element formula {
    attribute ns1:schemaLocation { text }?
    & attribute xml:base { xsd:anyURI }?
    & attribute xml:id { xsd:NCName }?
    & (Atom | And_3 | Or_3 | Neg | Exists_2)
  }
