exa/MYNG/dev/rdf.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
  <namespace ns="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
    <validate
      schema="rdfxml.rnc"
      schemaType="application/relax-ng-compact-syntax"/>
  </namespace>
  <anyNamespace><allow/></anyNamespace>

</rules>
