xsd/fologeq_normal.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:spec="http://ruleml.org/spec" elementFormDefault="qualified" targetNamespace="http://ruleml.org/spec"><xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://deliberation.ruleml.org/1.02/datatypes/xml.xsd"/><xs:include schemaLocation="http://deliberation.ruleml.org/1.02/datatypes/SimpleWithAttributes.xsd"/>
  
  <xs:element name="RuleML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:meta"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:act"/>
      </xs:sequence>
      <xs:attribute name="node" type="xs:anyURI"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Assert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:meta"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="spec:formula"/>
      </xs:sequence>
      <xs:attribute name="mapMaterial" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mapDirection" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="bidirectional"/>
            <xs:enumeration value="forward"/>
            <xs:enumeration value="backward"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mapClosure">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="universal"/>
            <xs:enumeration value="existential"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="node" type="xs:anyURI"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Retract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:meta"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="spec:formula"/>
      </xs:sequence>
      <xs:attribute name="mapMaterial" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mapDirection" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="bidirectional"/>
            <xs:enumeration value="forward"/>
            <xs:enumeration value="backward"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mapClosure">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="universal"/>
            <xs:enumeration value="existential"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="node" type="xs:anyURI"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:meta"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="spec:formula_2"/>
      </xs:sequence>
      <xs:attribute name="mapMaterial" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mapDirection" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="bidirectional"/>
            <xs:enumeration value="forward"/>
            <xs:enumeration value="backward"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="closure">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="universal"/>
            <xs:enumeration value="existential"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mapClosure">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="universal"/>
            <xs:enumeration value="existential"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="node" type="xs:anyURI"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Atom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:meta"/>
        <xs:element minOccurs="0" ref="spec:oid"/>
        <xs:element minOccurs="0" ref="spec:degree"/>
        <xs:group ref="spec:op"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:arg"/>
        <xs:element minOccurs="0" ref="spec:repo"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:slot"/>
        <xs:element minOccurs="0" ref="spec:resl"/>
      </xs:sequence>
      <xs:attribute name="closure">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="universal"/>
            <xs:enumeration value="existential"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="node" type="xs:anyURI"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rel">
    <xs:complexType mixed="true">
      <xs:attribute name="iri" type="xs:anyURI"/>
      <xs:attribute name="node" type="xs:anyURI"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="And">
    <xs:sequence>
      <xs:element name="And">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:meta"/>
            <xs:element minOccurs="0" ref="spec:degree"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="spec:formula_3"/>
          </xs:sequence>
          <xs:attribute name="mapMaterial" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="yes"/>
                <xs:enumeration value="no"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="mapDirection" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="bidirectional"/>
                <xs:enumeration value="forward"/>
                <xs:enumeration value="backward"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="closure">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="universal"/>
                <xs:enumeration value="existential"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="mapClosure">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="universal"/>
                <xs:enumeration value="existential"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="node" type="xs:anyURI"/>
          <xs:attribute ref="xml:base"/>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="Or">
    <xs:sequence>
      <xs:element name="Or">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:meta"/>
            <xs:element minOccurs="0" ref="spec:degree"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="spec:formula_4"/>
          </xs:sequence>
          <xs:attribute name="mapMaterial" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="yes"/>
                <xs:enumeration value="no"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="mapDirection" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="bidirectional"/>
                <xs:enumeration value="forward"/>
                <xs:enumeration value="backward"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="closure">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="universal"/>
                <xs:enumeration value="existential"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="mapClosure">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="universal"/>
                <xs:enumeration value="existential"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="node" type="xs:anyURI"/>
          <xs:attribute ref="xml:base"/>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="Implies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:meta"/>
        <xs:element minOccurs="0" ref="spec:degree"/>
        <xs:group ref="spec:if"/>
        <xs:group ref="spec:then"/>
      </xs:sequence>
      <xs:attribute name="direction" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="bidirectional"/>
            <xs:enumeration value="forward"/>
            <xs:enumeration value="backward"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="material" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mapMaterial" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mapDirection" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="bidirectional"/>
            <xs:enumeration value="forward"/>
            <xs:enumeration value="backward"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="closure">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="universal"/>
            <xs:enumeration value="existential"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mapClosure">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="universal"/>
            <xs:enumeration value="existential"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="node" type="xs:anyURI"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Forall">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:meta"/>
        <xs:element minOccurs="0" ref="spec:degree"/>
        <xs:element maxOccurs="unbounded" ref="spec:declare"/>
        <xs:group ref="spec:formula_5"/>
      </xs:sequence>
      <xs:attribute name="mapMaterial" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mapDirection" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="bidirectional"/>
            <xs:enumeration value="forward"/>
            <xs:enumeration value="backward"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mapClosure">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="universal"/>
            <xs:enumeration value="existential"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="node" type="xs:anyURI"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Exists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:meta"/>
        <xs:element minOccurs="0" ref="spec:degree"/>
        <xs:element maxOccurs="unbounded" ref="spec:declare"/>
        <xs:group ref="spec:formula_6"/>
      </xs:sequence>
      <xs:attribute name="mapMaterial" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mapDirection" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="bidirectional"/>
            <xs:enumeration value="forward"/>
            <xs:enumeration value="backward"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mapClosure">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="universal"/>
            <xs:enumeration value="existential"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="node" type="xs:anyURI"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Expr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:meta"/>
        <xs:element minOccurs="0" ref="spec:oid"/>
        <xs:group ref="spec:op_2"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:arg"/>
        <xs:element minOccurs="0" ref="spec:repo"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:slot"/>
        <xs:element minOccurs="0" ref="spec:resl"/>
      </xs:sequence>
      <xs:attribute name="per" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="copy"/>
            <xs:enumeration value="value"/>
            <xs:enumeration value="open"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" type="xs:string"/>
      <xs:attribute name="node" type="xs:anyURI"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Fun">
    <xs:complexType mixed="true">
      <xs:attribute name="per" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="copy"/>
            <xs:enumeration value="value"/>
            <xs:enumeration value="open"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="val" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="1"/>
            <xs:enumeration value="0.."/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="iri" type="xs:anyURI"/>
      <xs:attribute name="node" type="xs:anyURI"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rulebase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:meta"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="spec:formula_7"/>
      </xs:sequence>
      <xs:attribute name="mapMaterial" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mapDirection" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="bidirectional"/>
            <xs:enumeration value="forward"/>
            <xs:enumeration value="backward"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mapClosure">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="universal"/>
            <xs:enumeration value="existential"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="node" type="xs:anyURI"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Entails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:meta"/>
        <xs:group ref="spec:if_2"/>
        <xs:group ref="spec:then_2"/>
      </xs:sequence>
      <xs:attribute name="node" type="xs:anyURI"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Neg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:meta"/>
        <xs:element minOccurs="0" ref="spec:degree"/>
        <xs:element ref="spec:strong"/>
      </xs:sequence>
      <xs:attribute name="mapMaterial" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mapDirection" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="bidirectional"/>
            <xs:enumeration value="forward"/>
            <xs:enumeration value="backward"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mapClosure">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="universal"/>
            <xs:enumeration value="existential"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="node" type="xs:anyURI"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Equivalent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:meta"/>
        <xs:element minOccurs="0" ref="spec:degree"/>
        <xs:element ref="spec:torso"/>
        <xs:element ref="spec:torso"/>
      </xs:sequence>
      <xs:attribute name="mapMaterial" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mapDirection" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="bidirectional"/>
            <xs:enumeration value="forward"/>
            <xs:enumeration value="backward"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="closure">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="universal"/>
            <xs:enumeration value="existential"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mapClosure">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="universal"/>
            <xs:enumeration value="existential"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="node" type="xs:anyURI"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Equal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:meta"/>
        <xs:element minOccurs="0" ref="spec:degree"/>
        <xs:element ref="spec:left"/>
        <xs:element ref="spec:right"/>
      </xs:sequence>
      <xs:attribute name="oriented" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="no"/>
            <xs:enumeration value="yes"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="node" type="xs:anyURI"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Data" type="xs:anyType"/>
  <xs:element name="Skolem">
    <xs:complexType mixed="true">
      <xs:attribute name="type" type="xs:string"/>
      <xs:attribute name="node" type="xs:anyURI"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reify"><xs:complexType><xs:sequence><xs:any minOccurs="0" processContents="strict" namespace="##targetNamespace"/></xs:sequence><xs:attribute name="node" type="xs:anyURI"/><xs:attribute ref="xml:base"/><xs:attribute ref="xml:id"/></xs:complexType></xs:element>
  <xs:element name="Ind">
    <xs:complexType mixed="true">
      <xs:attribute name="iri" type="xs:anyURI"/>
      <xs:attribute name="type" type="xs:string"/>
      <xs:attribute name="node" type="xs:anyURI"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Var">
    <xs:complexType mixed="true">
      <xs:attribute name="type" type="xs:string"/>
      <xs:attribute name="node" type="xs:anyURI"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="Plex">
    <xs:sequence>
      <xs:element name="Plex">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:meta"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:arg"/>
            <xs:element minOccurs="0" ref="spec:repo"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:slot"/>
            <xs:element minOccurs="0" ref="spec:resl"/>
          </xs:sequence>
          <xs:attribute name="node" type="xs:anyURI"/>
          <xs:attribute ref="xml:base"/>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="formula">
    <xs:sequence>
      <xs:element name="formula">
        <xs:complexType>
          <xs:choice>
            <xs:element ref="spec:Atom"/>
            <xs:element ref="spec:Equal"/>
            <xs:group ref="spec:And_2"/>
            <xs:group ref="spec:Or_2"/>
            <xs:element ref="spec:Neg"/>
            <xs:element ref="spec:Implies"/>
            <xs:element ref="spec:Equivalent"/>
            <xs:element ref="spec:Forall"/>
            <xs:element ref="spec:Exists"/>
            <xs:element ref="spec:Entails"/>
            <xs:element ref="spec:Rulebase"/>
          </xs:choice>
          <xs:attribute ref="xml:base"/>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="formula_2">
    <xs:sequence>
      <xs:element name="formula">
        <xs:complexType>
          <xs:choice>
            <xs:element ref="spec:Atom"/>
            <xs:element ref="spec:Equal"/>
            <xs:group ref="spec:And"/>
            <xs:group ref="spec:Or"/>
            <xs:element ref="spec:Neg"/>
            <xs:element ref="spec:Implies"/>
            <xs:element ref="spec:Equivalent"/>
            <xs:element ref="spec:Forall"/>
            <xs:element ref="spec:Exists"/>
            <xs:element ref="spec:Entails"/>
            <xs:element ref="spec:Rulebase"/>
          </xs:choice>
          <xs:attribute ref="xml:base"/>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="op">
    <xs:sequence>
      <xs:element name="op">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="spec:Rel"/>
          </xs:sequence>
          <xs:attribute ref="xml:base"/>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="formula_3">
    <xs:sequence>
      <xs:element name="formula">
        <xs:complexType>
          <xs:choice>
            <xs:element ref="spec:Atom"/>
            <xs:element ref="spec:Equal"/>
            <xs:group ref="spec:And_2"/>
            <xs:group ref="spec:Or_2"/>
            <xs:element ref="spec:Neg"/>
            <xs:element ref="spec:Implies"/>
            <xs:element ref="spec:Equivalent"/>
            <xs:element ref="spec:Forall"/>
            <xs:element ref="spec:Exists"/>
          </xs:choice>
          <xs:attribute ref="xml:base"/>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="formula_4">
    <xs:sequence>
      <xs:element name="formula">
        <xs:complexType>
          <xs:choice>
            <xs:element ref="spec:Atom"/>
            <xs:element ref="spec:Equal"/>
            <xs:group ref="spec:And_2"/>
            <xs:group ref="spec:Or_2"/>
            <xs:element ref="spec:Neg"/>
            <xs:element ref="spec:Implies"/>
            <xs:element ref="spec:Equivalent"/>
            <xs:element ref="spec:Forall"/>
            <xs:element ref="spec:Exists"/>
          </xs:choice>
          <xs:attribute ref="xml:base"/>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="then">
    <xs:sequence>
      <xs:element name="then">
        <xs:complexType>
          <xs:choice>
            <xs:element ref="spec:Atom"/>
            <xs:element ref="spec:Equal"/>
            <xs:group ref="spec:And_2"/>
            <xs:group ref="spec:Or_2"/>
            <xs:element ref="spec:Neg"/>
            <xs:element ref="spec:Implies"/>
            <xs:element ref="spec:Equivalent"/>
            <xs:element ref="spec:Forall"/>
            <xs:element ref="spec:Exists"/>
          </xs:choice>
          <xs:attribute ref="xml:base"/>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="if">
    <xs:sequence>
      <xs:element name="if">
        <xs:complexType>
          <xs:choice>
            <xs:element ref="spec:Atom"/>
            <xs:element ref="spec:Equal"/>
            <xs:group ref="spec:And_2"/>
            <xs:group ref="spec:Or_2"/>
            <xs:element ref="spec:Neg"/>
            <xs:element ref="spec:Implies"/>
            <xs:element ref="spec:Equivalent"/>
            <xs:element ref="spec:Forall"/>
            <xs:element ref="spec:Exists"/>
          </xs:choice>
          <xs:attribute ref="xml:base"/>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="declare">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="spec:Var"/>
      </xs:sequence>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="formula_5">
    <xs:sequence>
      <xs:element name="formula">
        <xs:complexType>
          <xs:choice>
            <xs:element ref="spec:Atom"/>
            <xs:element ref="spec:Equal"/>
            <xs:group ref="spec:And_2"/>
            <xs:group ref="spec:Or_2"/>
            <xs:element ref="spec:Neg"/>
            <xs:element ref="spec:Implies"/>
            <xs:element ref="spec:Equivalent"/>
            <xs:element ref="spec:Forall"/>
            <xs:element ref="spec:Exists"/>
          </xs:choice>
          <xs:attribute ref="xml:base"/>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="formula_6">
    <xs:sequence>
      <xs:element name="formula">
        <xs:complexType>
          <xs:choice>
            <xs:element ref="spec:Atom"/>
            <xs:element ref="spec:Equal"/>
            <xs:group ref="spec:And_2"/>
            <xs:group ref="spec:Or_2"/>
            <xs:element ref="spec:Neg"/>
            <xs:element ref="spec:Implies"/>
            <xs:element ref="spec:Equivalent"/>
            <xs:element ref="spec:Forall"/>
            <xs:element ref="spec:Exists"/>
          </xs:choice>
          <xs:attribute ref="xml:base"/>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="op_2">
    <xs:sequence>
      <xs:element name="op">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="spec:Fun"/>
          </xs:sequence>
          <xs:attribute ref="xml:base"/>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="formula_7">
    <xs:sequence>
      <xs:element name="formula">
        <xs:complexType>
          <xs:choice>
            <xs:element ref="spec:Atom"/>
            <xs:element ref="spec:Equal"/>
            <xs:group ref="spec:And_2"/>
            <xs:group ref="spec:Or_2"/>
            <xs:element ref="spec:Neg"/>
            <xs:element ref="spec:Implies"/>
            <xs:element ref="spec:Equivalent"/>
            <xs:element ref="spec:Forall"/>
            <xs:element ref="spec:Exists"/>
          </xs:choice>
          <xs:attribute ref="xml:base"/>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="then_2">
    <xs:sequence>
      <xs:element name="then">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="spec:Rulebase"/>
          </xs:sequence>
          <xs:attribute ref="xml:base"/>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="if_2">
    <xs:sequence>
      <xs:element name="if">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="spec:Rulebase"/>
          </xs:sequence>
          <xs:attribute ref="xml:base"/>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="degree">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="spec:Data"/>
      </xs:sequence>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="strong">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="spec:Atom"/>
        <xs:element ref="spec:Equal"/>
        <xs:group ref="spec:And_2"/>
        <xs:group ref="spec:Or_2"/>
        <xs:element ref="spec:Neg"/>
        <xs:element ref="spec:Implies"/>
        <xs:element ref="spec:Equivalent"/>
        <xs:element ref="spec:Forall"/>
        <xs:element ref="spec:Exists"/>
      </xs:choice>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="meta">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="spec:Atom"/>
        <xs:element ref="spec:Equal"/>
        <xs:group ref="spec:And_2"/>
        <xs:group ref="spec:Or_2"/>
        <xs:element ref="spec:Neg"/>
        <xs:element ref="spec:Implies"/>
        <xs:element ref="spec:Equivalent"/>
        <xs:element ref="spec:Forall"/>
        <xs:element ref="spec:Exists"/>
        <xs:element ref="spec:Entails"/>
        <xs:element ref="spec:Rulebase"/>
      </xs:choice>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="torso">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="spec:Atom"/>
        <xs:element ref="spec:Equal"/>
        <xs:group ref="spec:And_2"/>
        <xs:group ref="spec:Or_2"/>
        <xs:element ref="spec:Neg"/>
        <xs:element ref="spec:Implies"/>
        <xs:element ref="spec:Equivalent"/>
        <xs:element ref="spec:Forall"/>
        <xs:element ref="spec:Exists"/>
      </xs:choice>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="oid">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="spec:Skolem"/>
        <xs:element ref="spec:Reify"/>
        <xs:element ref="spec:Ind"/>
        <xs:element ref="spec:Data"/>
        <xs:element ref="spec:Var"/>
        <xs:element ref="spec:Expr"/>
        <xs:group ref="spec:Plex"/>
      </xs:choice>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="slot">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="spec:Ind"/>
          <xs:element ref="spec:Data"/>
          <xs:element ref="spec:Expr"/>
          <xs:group ref="spec:Plex"/>
        </xs:choice>
        <xs:choice>
          <xs:element ref="spec:Skolem"/>
          <xs:element ref="spec:Reify"/>
          <xs:element ref="spec:Ind"/>
          <xs:element ref="spec:Data"/>
          <xs:element ref="spec:Var"/>
          <xs:element ref="spec:Expr"/>
          <xs:group ref="spec:Plex"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="card" type="xs:nonNegativeInteger"/>
      <xs:attribute name="weight">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.0"/>
            <xs:maxInclusive value="1.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="left">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="spec:Skolem"/>
        <xs:element ref="spec:Reify"/>
        <xs:element ref="spec:Ind"/>
        <xs:element ref="spec:Data"/>
        <xs:element ref="spec:Var"/>
        <xs:element ref="spec:Expr"/>
        <xs:group ref="spec:Plex"/>
      </xs:choice>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="right">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="spec:Skolem"/>
        <xs:element ref="spec:Reify"/>
        <xs:element ref="spec:Ind"/>
        <xs:element ref="spec:Data"/>
        <xs:element ref="spec:Var"/>
        <xs:element ref="spec:Expr"/>
        <xs:group ref="spec:Plex"/>
      </xs:choice>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="arg">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="spec:Skolem"/>
        <xs:element ref="spec:Reify"/>
        <xs:element ref="spec:Ind"/>
        <xs:element ref="spec:Data"/>
        <xs:element ref="spec:Var"/>
        <xs:element ref="spec:Expr"/>
        <xs:group ref="spec:Plex"/>
      </xs:choice>
      <xs:attribute name="index" use="required" type="xs:positiveInteger"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="resl">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="spec:Var"/>
        <xs:group ref="spec:Plex_2"/>
      </xs:choice>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="repo">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="spec:Var"/>
        <xs:group ref="spec:Plex_3"/>
      </xs:choice>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="act">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="spec:Assert"/>
        <xs:element ref="spec:Retract"/>
        <xs:element ref="spec:Query"/>
      </xs:choice>
      <xs:attribute name="index" use="required" type="xs:positiveInteger"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  
  
  <xs:group name="And_2">
    <xs:sequence>
      <xs:element name="And">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:meta"/>
            <xs:element minOccurs="0" ref="spec:degree"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="spec:formula_3"/>
          </xs:sequence>
          <xs:attribute name="mapMaterial" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="yes"/>
                <xs:enumeration value="no"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="mapDirection" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="bidirectional"/>
                <xs:enumeration value="forward"/>
                <xs:enumeration value="backward"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="mapClosure">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="universal"/>
                <xs:enumeration value="existential"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="node" type="xs:anyURI"/>
          <xs:attribute ref="xml:base"/>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="Or_2">
    <xs:sequence>
      <xs:element name="Or">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:meta"/>
            <xs:element minOccurs="0" ref="spec:degree"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="spec:formula_4"/>
          </xs:sequence>
          <xs:attribute name="mapMaterial" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="yes"/>
                <xs:enumeration value="no"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="mapDirection" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="bidirectional"/>
                <xs:enumeration value="forward"/>
                <xs:enumeration value="backward"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="mapClosure">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="universal"/>
                <xs:enumeration value="existential"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="node" type="xs:anyURI"/>
          <xs:attribute ref="xml:base"/>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="Plex_2">
    <xs:sequence>
      <xs:element name="Plex">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:meta"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:slot"/>
            <xs:element minOccurs="0" ref="spec:resl"/>
          </xs:sequence>
          <xs:attribute name="node" type="xs:anyURI"/>
          <xs:attribute ref="xml:base"/>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="Plex_3">
    <xs:sequence>
      <xs:element name="Plex">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:meta"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="spec:arg"/>
            <xs:element minOccurs="0" ref="spec:repo"/>
          </xs:sequence>
          <xs:attribute name="node" type="xs:anyURI"/>
          <xs:attribute ref="xml:base"/>
          <xs:attribute ref="xml:id"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
</xs:schema>