xsd/naffologeq.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema 
targetNamespace="http://www.ruleml.org/1.0/xsd" 
xmlns="http://www.ruleml.org/1.0/xsd"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

	<xs:annotation>
		<xs:documentation xml:lang="en">
			XML Schema for a First-Order Logic RuleML sublanguage, including
			negation as failure (NAF) and equational logic
			File: naffologeq.xsd
			Version: 1.0
			Last Modification: 2011-09-19 [Tara Athan]
		</xs:documentation>
	</xs:annotation>
	
	<!-- equalog includes the 'equality' module -->
	<xs:include schemaLocation="modules/equality_module.xsd"/>

	<!-- note the addition of Equal and Nanos from the equality module -->
	<xs:redefine schemaLocation="_naffolog-to-naffologeq.xsd">
	
		<!-- add (modified) @per back to Expr -->
		<xs:attributeGroup name="per.attrib">
			<xs:attributeGroup ref="per.attrib"/>
			<xs:attributeGroup ref="per-equality.attrib"/>
		</xs:attributeGroup>
		
		<!-- add @val to Fun -->
		<xs:attributeGroup name="Fun.attlist">
			<xs:attributeGroup ref="Fun.attlist"/>
			<xs:attributeGroup ref="val.attrib"/>
		</xs:attributeGroup>
		
		<!--
			add Equal so that Query's content model is:
			( oid?,(formula|Atom|Rulebase|And|Or|Neg|Implies|Equivalent|Entails|Forall|Exists|Naf|Equal)* )
		-->
		<xs:group name="formula-query.content">
			<xs:choice>
				<xs:group ref="formula-query.content"/>
				<xs:element ref="Equal"/>	
			</xs:choice>	
		</xs:group>	

		<!--
			add Equal so that Assert's content model is:
			( oid?,(formula|Atom|Rulebase|And|Or|Neg|Implies|Equivalent|Entails|Forall|Exists|Equal)* )
		-->
		<xs:group name="formula-assert.content">
			<xs:choice>
				<xs:group ref="formula-assert.content"/>
				<xs:element ref="Equal"/>
			</xs:choice>	
		</xs:group>

		<!--
			add Equal so that then's content model is:
			(Atom | And | Or | Neg | Implies | Equivalent | Forall | Exists | Equal )			
		-->
		<xs:group name="then.content">
			<xs:choice>
				<xs:group ref="then.content"/>
				<xs:element ref="Equal"/>
			</xs:choice>
		</xs:group>
		
		<!--
			add Equal so that if's content model is:
			(Atom | And | Or | Neg | Naf | Implies | Equivalent | Forall | Exists | Equal )
		-->
		<xs:group name="if.content">
			<xs:choice>
				<xs:group ref="if.content"/>
				<xs:element ref="Equal"/>
			</xs:choice>
		</xs:group>
		<!--
			note that the above indirectly adds Equal to Implies so that its content model is:
			(
				oid?, (then, if) | (if, then) |
				(
					(Atom | And | Or | Neg | Naf | Implies | Equivalent | Forall | Exists | Equal ),
					(Atom | And | Or | Neg | Implies | Equivalent | Forall | Exists | Equal ) 
				)
			)
		-->		

		<!--
			add Equal so that Forall's content model is:
			( oid?, (declare|Var)+, (formula|Atom|And|Or|Neg|Implies|Equivalent|Forall|Exists|Equal) )
		-->
		<xs:group name="formula-forall.content">
			<xs:choice>
				<xs:group ref="formula-forall.content"/>
				<xs:element ref="Equal"/>
			</xs:choice>
		</xs:group>

		<!--
			add Equal so Exists' content model is:
			( oid?, (declare|Var)+, (formula|Atom|And|Or|Neg|Implies|Equivalent|Forall|Exists|Equal) )
		-->
		<xs:group name="formula-exists.content">
			<xs:choice>
				<xs:group ref="formula-exists.content"/>
				<xs:element ref="Equal"/>
			</xs:choice>
		</xs:group>

		<!--
			add Equal so that strong's content model is:
			(Atom | And | Or | Neg | Implies | Equivalent | Forall | Exists | Equal )			
		-->
		<xs:group name="strong.content">
			<xs:choice>
				<xs:group ref="strong.content"/>
				<xs:element ref="Equal"/>
			</xs:choice>
		</xs:group>
		<!--		
			note that the above indirectly adds Equal to Neg so that its content model is:
			( strong | Atom | And | Or | Neg | Implies | Equivalent | Forall | Exists | Equal )
		-->


		<!--
			add Equal so that weak's content model is:
			(Atom | And | Or | Neg | Implies | Equivalent | Forall | Exists | Equal )			
		-->
		<xs:group name="weak.content">
			<xs:choice>
				<xs:group ref="weak.content"/>
				<xs:element ref="Equal"/>
			</xs:choice>
		</xs:group>
		<!--		
			note that the above indirectly adds Equal to Naf so that its content model is:
			( weak | Atom | And | Or | Neg | Implies | Equivalent | Forall | Exists | Equal )			
		-->

		<!--
			add Equal so that And/Or's content model is:
			( oid?, (formula | Atom | And | Or | Neg | Naf | Implies | Equivalent | Forall | Exists | Equal)* )
		-->
		<xs:group name="formula-and-or.content">
			<xs:choice>
				<xs:group ref="formula-and-or.content"/>
				<xs:element ref="Equal"/>
			</xs:choice>
		</xs:group>

		<!--
			add Equal so that torso's content model is:
			(Atom | And | Or | Neg | Implies | Equivalent | Forall | Exists | Equal)
		-->
		<xs:group name="torso.content">
			<xs:choice>
				<xs:group ref="torso.content"/>
				<xs:element ref="Equal"/>
			</xs:choice>
		</xs:group>
		<!--
			note that the above indirectly adds Equal to Equivalent so that its content model is:
			(
				oid?, (torso, torso) |
				(
				  (Atom | And | Or | Neg | Implies | Equivalent | Forall | Exists | Equal),
				  (Atom | And | Or | Neg | Implies | Equivalent | Forall | Exists | Equal)
				)
			)
		-->		
		
	</xs:redefine>

</xs:schema>