relaxng/tmp/simp-unprop_normal_4xsd.rnc.rnc

default namespace = "http://ruleml.org/spec"

start =
  RuleML
  | Assert
  | Retract
  | Query
  | Atom
  | Rel
  | Ind
  | formula
  | formula_2
  | op
  | arg
RuleML = element RuleML { act* }
Assert = element Assert { formula* }
Retract = element Retract { formula* }
Query = element Query { formula_2* }
Atom = element Atom { op, arg? }
Rel =
  element Rel {
    attribute iri { xsd:anyURI }?,
    text
  }
Ind =
  element Ind {
    attribute iri { xsd:anyURI }?,
    text
  }
formula = element formula { Atom }
formula_2 = element formula { Atom }
op = element op { Rel }
arg =
  element arg {
    attribute index { xsd:positiveInteger },
    Ind
  }
act =
  element act {
    attribute index { xsd:positiveInteger },
    (Assert | Retract | Query)*
  }
